---
layout: default
title : Manitou framework
---

{% include getting-started-aside.html view="idea" %}

<main class="docs-main">

	<section>
		<p>
			<a href="https://github.com/manitou-group/manitou/archive/master.zip" download="manitou-framework" title="Download Manitou Framework" class="btn btn-primary btn-lg">
				<i class="fa fa-download"></i>
				<span>Download Manitou Framework</span>
			</a>
		</p>
	</section>

	{% include components/idea.html %}

	{% include components/scaffolding.html %}

	{% include components/doctype.html %}

	{% include components/head.html %}

</main>
