html{ font-family: sans-serif; }
body{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
article, aside, header, nav, section{ display: block; }
a{ background-color: transparent; }
h1{ font-size: 2em; margin-top: 0.67em; margin-right: 0px; margin-bottom: 0.67em; margin-left: 0px; }
img{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
code{ font-family: monospace, monospace; font-size: 1em; }
button, input, select, textarea{ color: inherit; font: inherit; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
button{ overflow-x: visible; overflow-y: visible; }
button, select{ text-transform: none; }
button{ -webkit-appearance: button; cursor: pointer; }
input{ line-height: normal; }
fieldset{ border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(192, 192, 192); border-right-color: rgb(192, 192, 192); border-bottom-color: rgb(192, 192, 192); border-left-color: rgb(192, 192, 192); margin-top: 0px; margin-right: 2px; margin-bottom: 0px; margin-left: 2px; padding-top: 0.35em; padding-right: 0.625em; padding-bottom: 0.75em; padding-left: 0.625em; }
textarea{ overflow-x: auto; overflow-y: auto; }
@media print{
*{ text-shadow: none !important; box-shadow: none !important; }
a{ text-decoration: underline; }
 img{ page-break-inside: avoid; }
img{ max-width: 100% !important; }
p, h2, h3{ orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid; }
.navbar{ display: none; }
}
html{ box-sizing: border-box; }
*{ box-sizing: inherit; }
html{ font-size: 16px; }
body{ font-family: 'Noto Sans', Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 1.5; color: rgb(55, 58, 60); background-color: rgb(250, 250, 250); }
h1, h2, h3, h4{ margin-top: 0px; margin-bottom: 0.5rem; }
p{ margin-top: 0px; margin-bottom: 1rem; }
ol, ul{ margin-top: 0px; margin-bottom: 1rem; }
 ul ul{ margin-bottom: 0px; }
a{ color: rgb(226, 0, 26); text-decoration: none; }
img{ vertical-align: middle; }
[role="button"]{ cursor: pointer; }
label{ display: inline-block; margin-bottom: 0.5rem; }
input, button, select, textarea{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: inherit; }
textarea{ resize: vertical; }
fieldset{ min-width: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
h1, h2, h3, h4{ font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3{ margin-bottom: 0.5rem; }
h4{ margin-bottom: 0.5rem; }
h1{ font-size: 2.5rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.75rem; }
h4{ font-size: 1.5rem; }
.lead{ font-size: 1.25rem; font-weight: 300; }
.img-responsive, .carousel-inner > .carousel-item > img{ display: block; max-width: 100%; height: auto; }
code{ font-family: Menlo, Monaco, Consolas, 'Courier New', monospace; }
code{ padding-top: 0.2rem; padding-right: 0.4rem; padding-bottom: 0.2rem; padding-left: 0.4rem; font-size: 90%; color: rgb(189, 65, 71); background-color: rgb(247, 247, 249); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.container, section{ margin-right: auto; margin-left: auto; padding-left: 0.625rem; padding-right: 0.625rem; }
.container::before, section::before, .container::after, section::after{ content: ' '; display: table; }
.container::after, section::after{ clear: both; }
@media (min-width: 62em){
.container, section{ max-width: 980px; }
}
@media (min-width: 75em){
.container, section{ max-width: 980px; }
}
.row{ margin-left: -0.625rem; margin-right: -0.625rem; }
 .col-md-4, .col-md-8{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 48em){
.col-md-4{ }
.col-md-8{ }
}
.form-control{ display: block; width: 100%; padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; padding-left: 0.75rem; font-size: 1rem; line-height: 1.5; color: rgb(68, 68, 68); background-color: rgb(250, 250, 250); background-image: none; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(213, 213, 213); border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.form-group{ margin-bottom: 15px; }
.btn{ display: inline-block; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -webkit-user-select: none; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; padding-top: 0.375rem; padding-right: 1rem; padding-bottom: 0.375rem; padding-left: 1rem; font-size: 1rem; line-height: 1.5; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.btn-primary{ color: rgb(255, 255, 255); background-color: rgb(226, 0, 26); border-top-color: rgb(226, 0, 26); border-right-color: rgb(226, 0, 26); border-bottom-color: rgb(226, 0, 26); border-left-color: rgb(226, 0, 26); }
.btn-lg{ padding-top: 0.75rem; padding-right: 1.25rem; padding-bottom: 0.75rem; padding-left: 1.25rem; font-size: 1.25rem; line-height: 1.3333333333; border-top-left-radius: 0.3rem 0.3rem; border-top-right-radius: 0.3rem 0.3rem; border-bottom-right-radius: 0.3rem 0.3rem; border-bottom-left-radius: 0.3rem 0.3rem; }
.fade{ opacity: 0; }
.collapse{ display: none; }
.collapse.in{ display: block; }
 .dropdown{ position: relative; }
.dropdown-toggle::after{ display: inline-block; width: 0px; height: 0px; margin-left: 0.25rem; vertical-align: middle; content: ''; border-top-width: 0.3em; border-top-style: solid; border-top-color: initial; border-right-width: 0.3em; border-right-style: solid; border-right-color: transparent; border-left-width: 0.3em; border-left-style: solid; border-left-color: transparent; }
.dropdown-menu{ position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-top: 2px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 1rem; text-align: left; list-style-type: none; list-style-position: initial; list-style-image: initial; background-color: rgb(255, 255, 255); background-clip: padding-box; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(0, 0, 0, 0.148438); border-right-color: rgba(0, 0, 0, 0.148438); border-bottom-color: rgba(0, 0, 0, 0.148438); border-left-color: rgba(0, 0, 0, 0.148438); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.dropdown-item{ display: block; padding-top: 3px; padding-right: 20px; padding-bottom: 3px; padding-left: 20px; clear: both; font-weight: normal; line-height: 1.5; color: rgb(55, 58, 60); white-space: nowrap; text-align: inherit; width: 100%; background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; background-position: initial initial; background-repeat: initial initial; }
.dropdown-menu-left{ right: auto; left: 0px; }
.input-group{ position: relative; }
.input-group .form-control{ position: relative; z-index: 2; margin-bottom: 0px; }
.input-group-addon{ white-space: nowrap; vertical-align: middle; }
.input-group-addon{ padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; padding-left: 0.75rem; font-size: 1rem; font-weight: normal; line-height: 1; color: rgb(68, 68, 68); text-align: center; background-color: rgb(236, 238, 239); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(213, 213, 213); border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
 .input-group-addon:first-child{ border-bottom-right-radius: 0px 0px; border-top-right-radius: 0px 0px; }
.input-group-addon:first-child{ border-right-width: 0px; border-right-style: initial; border-right-color: initial; }
.input-group .form-control:last-child{ border-bottom-left-radius: 0px 0px; border-top-left-radius: 0px 0px; }
.nav{ padding-left: 0px; margin-bottom: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
.nav-link{ display: inline-block; }
.navbar{ position: relative; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.navbar::before, .navbar::after{ content: ' '; display: table; }
.navbar::after{ clear: both; }
@media (min-width: 34em){
.navbar{ border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
}
.navbar-brand{ float: left; margin-right: 1rem; padding-top: 0.25rem; padding-bottom: 0.25rem; font-size: 1.25rem; }
.navbar-brand > img{ display: block; }
.navbar-toggler{ padding-top: 0.5rem; padding-right: 0.75rem; padding-bottom: 0.5rem; padding-left: 0.75rem; font-size: 1.25rem; line-height: 1; background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 48em){
.navbar-toggleable-sm{ display: block !important; }
}
.navbar-nav .nav-item{ float: left; }
.navbar-nav .nav-link{ display: block; padding-top: 0.425rem; padding-bottom: 0.425rem; }
.navbar-nav .nav-item + .nav-item{ margin-left: 1rem; }
 .card-nav{ position: relative; margin-bottom: 0.75rem; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(229, 229, 229); border-right-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-left-color: rgb(229, 229, 229); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.card-block{ padding-top: 1.25rem; padding-right: 1.25rem; padding-bottom: 1.25rem; padding-left: 1.25rem; }
.card-header{ padding-top: 0.75rem; padding-right: 1.25rem; padding-bottom: 0.75rem; padding-left: 1.25rem; background-color: rgb(245, 245, 245); border-bottom-width: 0.0625rem; border-bottom-style: solid; border-bottom-color: rgb(229, 229, 229); }
.card-header:first-child{ border-top-left-radius: 0.1875rem 0.1875rem; border-top-right-radius: 0.1875rem 0.1875rem; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
.breadcrumb{ padding-top: 0.625rem; padding-right: 0px; padding-bottom: 0.625rem; padding-left: 0px; margin-bottom: 1rem; list-style-type: none; list-style-position: initial; list-style-image: initial; background-color: rgb(255, 255, 255); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.breadcrumb > li{ display: inline-block; }
.breadcrumb > li + li::before{ padding-right: 0.5rem; padding-left: 0.5rem; color: rgb(129, 138, 145); content: ' >  '; }
.breadcrumb > .active{ color: rgb(129, 138, 145); }
.pagination{ display: inline-block; padding-left: 0px; margin-top: 1rem; margin-bottom: 1rem; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.pagination > li{ display: inline; }
.pagination > li > a{ position: relative; float: left; padding-top: 0.5rem; padding-right: 0.75rem; padding-bottom: 0.5rem; padding-left: 0.75rem; margin-left: -1px; line-height: 1.5; color: rgb(178, 178, 178); text-decoration: none; background-color: transparent; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; }
.pagination > li:first-child > a{ margin-left: 0px; border-bottom-left-radius: 0.25rem 0.25rem; border-top-left-radius: 0.25rem 0.25rem; }
.pagination > li:last-child > a{ border-bottom-right-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; }
.pagination > .active > a{ z-index: 2; color: rgb(226, 0, 26); cursor: default; background-color: transparent; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; }
 .pagination > .disabled > a{ color: rgb(229, 229, 229); cursor: not-allowed; background-color: transparent; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; }
.alert{ padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; margin-bottom: 1rem; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.alert > p{ margin-bottom: 0px; }
.alert-success{ background-color: rgb(223, 240, 216); border-top-color: rgb(208, 233, 198); border-right-color: rgb(208, 233, 198); border-bottom-color: rgb(208, 233, 198); border-left-color: rgb(208, 233, 198); color: rgb(60, 118, 61); }
.alert-danger{ background-color: rgb(242, 222, 222); border-top-color: rgb(235, 204, 204); border-right-color: rgb(235, 204, 204); border-bottom-color: rgb(235, 204, 204); border-left-color: rgb(235, 204, 204); color: rgb(169, 68, 66); }
.close{ float: right; font-size: 1.5rem; font-weight: bold; line-height: 1; color: rgb(0, 0, 0); text-shadow: rgb(255, 255, 255) 0px 1px 0px; opacity: 0.2; }
button.close{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; cursor: pointer; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: transparent; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; -webkit-appearance: none; background-position: initial initial; background-repeat: initial initial; }
.modal{ position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1050; display: none; overflow-x: hidden; overflow-y: hidden; outline-width: 0px; outline-style: initial; outline-color: initial; }
.modal.fade .modal-dialog{ -webkit-transform: translate(0px, -25%); }
.modal-dialog{ position: relative; width: auto; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; }
.modal-content{ position: relative; background-color: rgb(255, 255, 255); background-clip: padding-box; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(0, 0, 0, 0.199219); border-right-color: rgba(0, 0, 0, 0.199219); border-bottom-color: rgba(0, 0, 0, 0.199219); border-left-color: rgba(0, 0, 0, 0.199219); border-top-left-radius: 0.3rem 0.3rem; border-top-right-radius: 0.3rem 0.3rem; border-bottom-right-radius: 0.3rem 0.3rem; border-bottom-left-radius: 0.3rem 0.3rem; outline-width: 0px; outline-style: initial; outline-color: initial; }
.modal-header{ padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(229, 229, 229); }
.modal-header::before, .modal-header::after{ content: ' '; display: table; }
.modal-header::after{ clear: both; }
.modal-header .close{ margin-top: -2px; }
.modal-title{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: 1.5; }
.modal-body{ position: relative; padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; }
.modal-footer{ padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; text-align: right; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(229, 229, 229); }
.modal-footer::before, .modal-footer::after{ content: ' '; display: table; }
.modal-footer::after{ clear: both; }
@media (min-width: 34em){
.modal-dialog{ width: 600px; margin-top: 30px; margin-right: auto; margin-bottom: 30px; margin-left: auto; }
.modal-sm{ width: 300px; }
}
@media (min-width: 48em){
.modal-lg{ width: 900px; }
}
.carousel{ position: relative; }
.carousel-inner{ position: relative; width: 100%; overflow-x: hidden; overflow-y: hidden; }
.carousel-inner > .carousel-item{ position: relative; display: none; }
.carousel-inner > .carousel-item > img{ line-height: 1; }
@media (transform-3d), (-webkit-transform-3d){
.carousel-inner > .carousel-item{ -webkit-backface-visibility: hidden; -webkit-perspective: 1000px; }
 .carousel-inner > .carousel-item.active{ left: 0px; -webkit-transform: translate3d(0px, 0px, 0px); }
}
.carousel-inner > .active{ display: block; }
.carousel-inner > .active{ left: 0px; }
.carousel-control{ position: absolute; top: 0px; bottom: 0px; left: 0px; width: 15%; font-size: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: rgba(0, 0, 0, 0.597656) 0px 1px 2px; opacity: 0.5; }
.carousel-control.left{ background-repeat: repeat no-repeat; }
.carousel-control.right{ right: 0px; left: auto; background-repeat: repeat no-repeat; }
.carousel-control .icon-prev, .carousel-control .icon-next{ position: absolute; top: 50%; z-index: 5; display: inline-block; width: 20px; height: 20px; margin-top: -10px; font-family: serif; line-height: 1; }
.carousel-control .icon-prev{ left: 50%; margin-left: -10px; }
.carousel-control .icon-next{ right: 50%; margin-right: -10px; }
.carousel-control .icon-prev::before{ content: ‹; }
.carousel-control .icon-next::before{ content: ›; }
.carousel-caption{ position: absolute; right: 15%; bottom: 20px; left: 15%; z-index: 10; padding-top: 20px; padding-bottom: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: rgba(0, 0, 0, 0.597656) 0px 1px 2px; }
@media (min-width: 34em){
.carousel-control .icon-prev, .carousel-control .icon-next{ width: 30px; height: 30px; margin-top: -15px; font-size: 30px; }
.carousel-control .icon-prev{ margin-left: -15px; }
.carousel-control .icon-next{ margin-right: -15px; }
.carousel-caption{ right: 20%; left: 20%; padding-bottom: 30px; }
}
.clearfix::before, .clearfix::after{ content: ' '; display: table; }
.clearfix::after{ clear: both; }
.pull-right{ float: right !important; }
.sr-only{ position: absolute; width: 1px; height: 1px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: -1px; margin-right: -1px; margin-bottom: -1px; margin-left: -1px; overflow-x: hidden; overflow-y: hidden; clip: rect(0px 0px 0px 0px); border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
.text-center{ text-align: center; }
.text-capitalize{ text-transform: capitalize; }
@media (max-width: 47.9em){
 .docs .docs-aside{ display: none !important; }
}
@media (min-width: 48em){
.hidden-md-up{ display: none !important; }
}
.fa, .carousel-control .icon-prev, .carousel-control .icon-next{ display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; }
.pull-right{ float: right; }
.fa-check::before{ content: ; }
.fa-map-marker::before{ content: ; }
.fa-angle-left::before{ content: ; }
.fa-angle-right::before{ content: ; }
.fa-calendar-o::before{ content: ; }
.fa-external-link-square::before{ content: ; }
.fa-cube::before{ content: ; }
header .sup-nav{ display: none; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(51, 51, 51); min-height: 20px; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 47.9em){
header .sup-nav{ display: block; }
}
header .sup-nav .row{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
header .sup-nav .row ul{ list-style-type: none; list-style-position: initial; list-style-image: initial; margin-bottom: 0px; padding-left: 0px; }
header .sup-nav .row ul > li{ padding-right: 15px; }
header .sup-nav .row ul > li > a{ color: rgb(255, 255, 255); font-size: 11px; }
header .sup-nav .row .sup-nav-shortcuts{ display: none; }
a{ }
h1{ font-weight: 700; font-size: 1.875rem; color: rgb(226, 0, 26); }
h2{ margin-top: 0px; margin-bottom: 0.625rem; padding-top: 0px; padding-bottom: 0.625rem; font-weight: 700; font-size: 1.375rem; line-height: 1.625rem; }
h2.toggler{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(240, 240, 240); margin-top: 0px; margin-bottom: 1.25rem; padding-top: 0.625rem; line-height: 2.125rem; }
h2.dropdown-toggle{ cursor: pointer; }
h3{ font-size: 1.125rem; font-weight: 700; }
h3.border{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(213, 213, 213); line-height: 2.5rem; margin-top: 0.625rem; margin-bottom: 0px; }
h4{ font-size: 0.875rem; line-height: 1.125rem; font-weight: 700; }
h4{ margin-top: 0.625rem; margin-bottom: 0.625rem; }
p{ font-size: 0.875rem; line-height: 1.125rem; }
p.lg{ font-size: 1rem; line-height: 1.125rem; }
p.lead{ font-size: 1.25rem; line-height: 2.5rem; }
label{ font-weight: normal; }
ul{ padding-left: 1.75rem; margin-left: 0px; list-style-type: disc; }
ul > li{ color: rgb(68, 68, 68); font-size: 0.875rem; }
ul > li > a{ color: rgb(68, 68, 68); font-size: 0.875rem; }
ul.bullet > li{ color: rgb(226, 0, 26); }
ul.bullet > li > a{ color: rgb(68, 68, 68); font-size: 0.875rem; }
ul.pagination{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
ul.pagination > li > a{ padding-top: 1.5rem; padding-right: 1.5rem; padding-bottom: 1.5rem; padding-left: 1.5rem; font-size: 1.25rem; line-height: 1.3333333333; }
ul.pagination > li:first-child > a{ border-bottom-left-radius: 0.3rem 0.3rem; border-top-left-radius: 0.3rem 0.3rem; }
ul.pagination > li:last-child > a{ border-bottom-right-radius: 0.3rem 0.3rem; border-top-right-radius: 0.3rem 0.3rem; }
.navbar{ min-height: 3.25rem; border-right-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(194, 0, 23); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(165, 0, 19); box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 8px 0px; background-repeat: repeat no-repeat; }
@media (max-width: 47.9em){
.navbar .container{ margin-right: auto; margin-left: auto; padding-left: 0px; padding-right: 0px; }
.navbar .container::before, .navbar .container::after{ content: ' '; display: table; }
.navbar .container::after{ clear: both; }
}
.navbar .navbar-toggler{ padding-top: 0px; padding-right: 0.9375rem; padding-bottom: 0px; padding-left: 0.9375rem; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: 3.125rem; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; z-index: 2; position: relative; color: rgb(255, 255, 255); }
.navbar .navbar-brand{ padding-top: 0.625rem; position: absolute; width: 100%; left: 0px; top: 0px; text-align: center; }
@media (min-width: 47.9em){
.navbar .navbar-brand{ position: inherit; text-align: left; width: auto; }
}
.navbar .navbar-brand > img{ display: inline; height: 1.875rem; width: auto; }
.navbar .navbar-nav{ float: right; }
.navbar .navbar-nav::before, .navbar .navbar-nav::after{ content: ' '; display: table; }
.navbar .navbar-nav::after{ clear: both; }
.navbar .navbar-nav > li{ position: relative; display: block; margin-top: 0px !important; margin-right: 0px !important; margin-bottom: 0px !important; margin-left: 0px !important; }
.navbar .navbar-nav > li > a{ color: rgb(255, 255, 255); padding-top: 0.9375rem; padding-right: 0.9375rem; padding-bottom: 0.9375rem; padding-left: 0.9375rem; line-height: 1.25rem; }
@media (max-width: 61.9em) and (min-width: 47.9em){
.navbar .navbar-nav > li > a{ padding-top: 0.9375rem; padding-right: 0.5rem; padding-bottom: 0.9375rem; padding-left: 0.5rem; font-size: 0.75rem; }
}
@media (max-width: 47.9em){
.navbar{ border-bottom-width: 0px; border-bottom-style: initial; border-bottom-color: initial; }
 .navbar .collapse ul li a{ color: rgb(68, 68, 68); background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(237, 237, 237); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(213, 213, 213); padding-top: 0.625rem; padding-bottom: 0.625rem; background-position: initial initial; background-repeat: initial initial; }
.navbar .collapse ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; float: none; position: relative; }
.navbar .collapse ul li{ float: none; }
.navbar .collapse ul li a{ font-weight: 700; }
.navbar .collapse ul li a::after{ float: right; margin-top: 0.625rem; }
}
 .card-nav{ box-shadow: none; margin-bottom: 20px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(245, 245, 245); display: block; background-position: initial initial; background-repeat: initial initial; }
 .card-nav h2{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
 .card-nav .card-block ul{ padding-left: 1.25rem; }
.bloc{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; box-shadow: rgba(0, 0, 0, 0.148438) 0px 0px 0.625rem 0px; padding-top: 1.25rem; padding-right: 1.25rem; padding-bottom: 1.25rem; padding-left: 1.25rem; background-position: initial initial; background-repeat: initial initial; }
.card-nav .card-header .dropdown-toggle::after{ display: none; }
.event-month{ margin-bottom: 1.25rem; }
.event-month .bloc{ margin-bottom: 1.25rem; }
.event-picture{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; min-width: 0px; }
@media (min-width: 34em){
.event-picture{ min-width: 0px; }
}
.event-picture img{ margin-right: 0.625rem; }
.event-content{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; min-width: 0px; }
@media (min-width: 34em){
.event-content{ min-width: 0px; }
}
.event-content h3{ margin-top: -0.625rem; margin-bottom: 0.9375rem; }
.event-content p:last-child{ margin-bottom: 0px; }
.event-picture + .event-content{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; min-width: 0px; }
@media (min-width: 34em){
.event-picture + .event-content{ min-width: 0px; }
}
.event-picture + .event-content h3{ margin-top: 0.625rem; }
@media (min-width: 34em){
.event-picture + .event-content h3{ margin-top: -0.625rem; }
}
.btn{ color: rgb(255, 255, 255); font-size: 0.875rem; font-weight: 700; text-shadow: rgba(0, 0, 0, 0.246094) 1px 1px 0px; padding-top: 0px; padding-right: 1.25rem; padding-bottom: 0px; padding-left: 1.25rem; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; height: 2.5rem; line-height: 2.5rem; display: block; width: 100%; }
.btn > span{ display: table-cell; vertical-align: middle; white-space: normal; text-align: left; height: 2.5rem; line-height: 1rem; padding-top: 0px; padding-right: 0.125rem; padding-bottom: 0px; padding-left: 0.625rem; }
.btn > i{ display: block; float: left; height: 2.5rem; width: 2.5rem; margin-left: -1.25rem; line-height: 2.5rem; text-align: center; text-shadow: rgba(255, 255, 255, 0.847656) 1px 1px 0px; }
.btn-lg{ height: 3.75rem; font-size: 0.875rem; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.btn-primary{ background-repeat: repeat no-repeat; }
.btn-primary > i{ text-shadow: rgba(255, 255, 255, 0.746094) 1px 1px 0px; }
.btn-primary > span{ border-left-width: 1px; border-left-style: solid; border-left-color: rgb(185, 0, 21); opacity: 0.9; }
.form-control{ border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; height: 2.8125rem; }
label{ font-size: 0.75rem; font-weight: 700; cursor: pointer; }
label.required::after{ content: '*'; color: rgb(226, 0, 26); }
.input-group{ display: table; border-collapse: separate; }
.input-group .form-control{ display: table-cell; width: 100%; }
.input-group .input-group-addon{ display: table-cell; width: 1%; white-space: nowrap; }
textarea.form-control{ height: auto; }
.carousel-caption{ left: 0px; right: 0px; bottom: 0px; padding-bottom: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgba(0, 0, 0, 0.496094); text-align: left; background-position: initial initial; background-repeat: initial initial; }
.carousel-caption p{ padding-left: 1.25rem; }
.carousel-control.left{ background-repeat: repeat no-repeat; }
.carousel-control.right{ background-repeat: repeat no-repeat; }
.carousel-control .icon-prev, .carousel-control .icon-next{ width: 3rem; height: 3rem; line-height: 3rem; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; text-shadow: none; color: rgb(68, 68, 68); font-weight: 900; background-position: initial initial; background-repeat: initial initial; }
.carousel-control .icon-prev::before{ content: ; }
.carousel-control .icon-next::before{ content: ; margin-left: 0.25rem; }
.breadcrumb-block{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(239, 239, 239); background-position: initial initial; background-repeat: initial initial; }
.breadcrumb-block .breadcrumb-container{ margin-right: auto; margin-left: auto; padding-left: 0.625rem; padding-right: 0.625rem; }
.breadcrumb-block .breadcrumb-container::before, .breadcrumb-block .breadcrumb-container::after{ content: ' '; display: table; }
.breadcrumb-block .breadcrumb-container::after{ clear: both; }
.breadcrumb-block .breadcrumb{ margin-bottom: 0px; }
h2.toggler{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(240, 240, 240); margin-top: 0px; margin-bottom: 1.25rem; padding-top: 0.625rem; line-height: 2.125rem; }
.toggler::before{ display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; margin-left: 1.25rem; margin-right: 1.25rem; content: ; }
.toggler:not(.collapsed)::before{ -webkit-transform: rotate(90deg); }
.docs{ padding-top: 30px; padding-bottom: 100px; }
.docs .docs-aside{ margin-top: 20px; position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; min-width: 0px; }
@media (min-width: 34em){
.docs .docs-aside{ min-width: 0px; }
}
.bs-example{ position: relative; padding-top: 45px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; margin-top: 0px; margin-right: -15px; margin-bottom: 15px; margin-left: -15px; border-top-color: rgb(229, 229, 229); border-right-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; box-shadow: rgba(0, 0, 0, 0.046875) 0px 3px 6px inset; }
.bs-example::after{ position: absolute; top: 15px; left: 15px; font-size: 12px; font-weight: bold; color: rgb(149, 149, 149); text-transform: uppercase; letter-spacing: 1px; content: Example; }
@media (min-width: 768px){
.bs-example{ margin-right: 0px; margin-left: 0px; background-color: rgb(255, 255, 255); border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-left-radius: 4px 4px; border-top-right-radius: 4px 4px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; box-shadow: none; }
}
.bs-example > p:last-child, .bs-example > .alert:last-child{ margin-bottom: 0px; }
.bs-example > .btn{ margin-top: 5px; margin-bottom: 5px; }
.bs-example .pagination{ margin-top: 10px; margin-bottom: 10px; }
img{ width: 100%; }