html{ font-family: sans-serif; }
body{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
article, aside, header, nav, section{ display: block; }
a{ background-color: transparent; }
b, strong{ font-weight: bold; }
h1{ font-size: 2em; margin-top: 0.67em; margin-right: 0px; margin-bottom: 0.67em; margin-left: 0px; }
img{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
hr{ box-sizing: content-box; height: 0px; }
pre{ overflow-x: auto; overflow-y: auto; }
code, pre{ font-family: monospace, monospace; font-size: 1em; }
button, input, select{ color: inherit; font: inherit; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
button{ overflow-x: visible; overflow-y: visible; }
button, select{ text-transform: none; }
button{ -webkit-appearance: button; cursor: pointer; }
input{ line-height: normal; }
input[type="checkbox"]{ box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
table{ border-collapse: collapse; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; }
td{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
@media print{
*{ text-shadow: none !important; box-shadow: none !important; }
a{ text-decoration: underline; }
pre{ border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(153, 153, 153); border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-left-color: rgb(153, 153, 153); page-break-inside: avoid; }
tr, img{ page-break-inside: avoid; }
img{ max-width: 100% !important; }
p, h2, h3{ orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid; }
.navbar{ display: none; }
.table{ border-collapse: collapse !important; }
.table td{ background-color: rgb(255, 255, 255) !important; }
}
html{ box-sizing: border-box; }
*{ box-sizing: inherit; }
html{ font-size: 16px; }
body{ font-family: 'Noto Sans', Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 1.5; color: rgb(55, 58, 60); background-color: rgb(250, 250, 250); }
h1, h2, h3{ margin-top: 0px; margin-bottom: 0.5rem; }
p{ margin-top: 0px; margin-bottom: 1rem; }
 ul{ margin-top: 0px; margin-bottom: 1rem; }
 ul ul{ margin-bottom: 0px; }
a{ color: rgb(226, 0, 26); text-decoration: none; }
pre{ margin-top: 0px; margin-bottom: 1rem; }
img{ vertical-align: middle; }
[role="button"]{ cursor: pointer; }
table{ background-color: transparent; }
label{ display: inline-block; margin-bottom: 0.5rem; }
input, button, select{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: inherit; }
h1, h2, h3{ font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3{ margin-bottom: 0.5rem; }
h1{ font-size: 2.5rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.75rem; }
hr{ margin-top: 1rem; margin-bottom: 1rem; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-width: 0.0625rem; border-top-style: solid; border-top-color: rgba(0, 0, 0, 0.0976562); }
 .small{ font-size: 80%; font-weight: normal; }
 .tags{ padding-left: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
 .tags{ padding-left: 0px; margin-left: -5px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
 .tags > li{ display: inline-block; padding-right: 5px; padding-left: 5px; }
.img-responsive, .carousel-inner > .carousel-item > img, .card-feature-container .card-feature .card-img-top{ display: block; max-width: 100%; height: auto; }
 .card-feature-container .card-feature img{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.5; background-color: rgb(255, 255, 255); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; display: inline-block; max-width: 100%; height: auto; }
code, pre{ font-family: Menlo, Monaco, Consolas, 'Courier New', monospace; }
code{ padding-top: 0.2rem; padding-right: 0.4rem; padding-bottom: 0.2rem; padding-left: 0.4rem; font-size: 90%; color: rgb(189, 65, 71); background-color: rgb(247, 247, 249); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
pre{ display: block; margin-top: 0px; margin-bottom: 1rem; font-size: 90%; line-height: 1.5; color: rgb(55, 58, 60); }
pre code{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-size: inherit; color: inherit; background-color: transparent; border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
.container, section{ margin-right: auto; margin-left: auto; padding-left: 0.625rem; padding-right: 0.625rem; }
.container::before, section::before, .container::after, section::after{ content: ' '; display: table; }
.container::after, section::after{ clear: both; }
@media (min-width: 62em){
.container, section{ max-width: 980px; }
}
@media (min-width: 75em){
.container, section{ max-width: 980px; }
}
.container-fluid{ margin-right: auto; margin-left: auto; padding-left: 0.625rem; padding-right: 0.625rem; }
.container-fluid::before, .container-fluid::after{ content: ' '; display: table; }
.container-fluid::after{ clear: both; }
.row{ margin-left: -0.625rem; margin-right: -0.625rem; }
.row::before, .row::after{ content: ' '; display: table; }
.row::after{ clear: both; }
 .col-xs-6, .col-xs-12, .col-sm-6, .col-md-4, .col-md-8{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
 .col-xs-6, .col-xs-12{ float: left; }
.col-xs-6{ width: 50%; }
.col-xs-12{ width: 100%; }
@media (min-width: 34em){
 .col-sm-6{ float: left; }
.col-sm-6{ width: 50%; }
.col-sm-offset-6{ margin-left: 50%; }
}
@media (min-width: 48em){
 .col-md-4, .col-md-8{ float: left; }
.col-md-4{ width: 33.3333333333%; }
.col-md-8{ width: 66.6666666667%; }
}
.table{ width: 100%; max-width: 100%; margin-bottom: 1rem; }
 .table td{ padding-top: 0.75rem; padding-right: 0.75rem; padding-bottom: 0.75rem; padding-left: 0.75rem; line-height: 1.5; vertical-align: top; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(236, 238, 239); }
.table-striped tbody tr:nth-of-type(odd){ background-color: rgb(249, 249, 249); }
.form-control{ display: block; width: 100%; padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; padding-left: 0.75rem; font-size: 1rem; line-height: 1.5; color: rgb(68, 68, 68); background-color: rgb(250, 250, 250); background-image: none; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(213, 213, 213); border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.form-group{ margin-bottom: 15px; }
 .checkbox{ position: relative; display: block; margin-bottom: 0.75rem; }
 .checkbox label{ padding-left: 1.25rem; margin-bottom: 0px; font-weight: normal; cursor: pointer; }
 .checkbox input[type="checkbox"]{ position: absolute; margin-top: 0.25rem; margin-left: -1.25rem; }
 .checkbox + .checkbox{ margin-top: -0.25rem; }
.btn{ display: inline-block; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -webkit-user-select: none; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; padding-top: 0.375rem; padding-right: 1rem; padding-bottom: 0.375rem; padding-left: 1rem; font-size: 1rem; line-height: 1.5; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
 .btn.active{ background-image: none; outline-width: 0px; outline-style: initial; outline-color: initial; }
.btn-primary{ color: rgb(255, 255, 255); background-color: rgb(226, 0, 26); border-top-color: rgb(226, 0, 26); border-right-color: rgb(226, 0, 26); border-bottom-color: rgb(226, 0, 26); border-left-color: rgb(226, 0, 26); }
.btn-block{ display: block; width: 100%; }
.collapse{ display: none; }
.collapse.in{ display: block; }
 .dropdown{ position: relative; }
.dropdown-toggle::after{ display: inline-block; width: 0px; height: 0px; margin-left: 0.25rem; vertical-align: middle; content: ''; border-top-width: 0.3em; border-top-style: solid; border-top-color: initial; border-right-width: 0.3em; border-right-style: solid; border-right-color: transparent; border-left-width: 0.3em; border-left-style: solid; border-left-color: transparent; }
.dropdown-menu{ position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-top: 2px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 1rem; text-align: left; list-style-type: none; list-style-position: initial; list-style-image: initial; background-color: rgb(255, 255, 255); background-clip: padding-box; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(0, 0, 0, 0.148438); border-right-color: rgba(0, 0, 0, 0.148438); border-bottom-color: rgba(0, 0, 0, 0.148438); border-left-color: rgba(0, 0, 0, 0.148438); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.dropdown-divider{ height: 1px; margin-top: 0.5rem; margin-right: 0px; margin-bottom: 0.5rem; margin-left: 0px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(229, 229, 229); }
.dropdown-item{ display: block; padding-top: 3px; padding-right: 20px; padding-bottom: 3px; padding-left: 20px; clear: both; font-weight: normal; line-height: 1.5; color: rgb(55, 58, 60); white-space: nowrap; text-align: inherit; width: 100%; background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; background-position: initial initial; background-repeat: initial initial; }
.dropdown-menu-left{ right: auto; left: 0px; }
.dropdown-header{ display: block; padding-top: 3px; padding-right: 20px; padding-bottom: 3px; padding-left: 20px; font-size: 0.85rem; line-height: 1.5; color: rgb(129, 138, 145); white-space: nowrap; }
.btn-group{ position: relative; display: inline-block; vertical-align: middle; }
.btn-group > .btn{ position: relative; float: left; }
 .btn-group > .btn.active{ z-index: 2; }
.btn-group .btn + .btn{ margin-left: -1px; }
.btn-group > .btn:first-child{ margin-left: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){ border-bottom-right-radius: 0px 0px; border-top-right-radius: 0px 0px; }
.btn-group > .btn:last-child:not(:first-child){ border-bottom-left-radius: 0px 0px; border-top-left-radius: 0px 0px; }
.input-group{ position: relative; display: table; border-collapse: separate; }
.input-group .form-control{ position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0px; }
.input-group-addon, .input-group .form-control{ display: table-cell; }
.input-group-addon{ width: 1%; white-space: nowrap; vertical-align: middle; }
.input-group-addon{ padding-top: 0.375rem; padding-right: 0.75rem; padding-bottom: 0.375rem; padding-left: 0.75rem; font-size: 1rem; font-weight: normal; line-height: 1; color: rgb(68, 68, 68); text-align: center; background-color: rgb(236, 238, 239); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(213, 213, 213); border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.input-group .form-control:first-child{ border-bottom-right-radius: 0px 0px; border-top-right-radius: 0px 0px; }
 .input-group-addon:last-child{ border-bottom-left-radius: 0px 0px; border-top-left-radius: 0px 0px; }
.input-group-addon:last-child{ border-left-width: 0px; border-left-style: initial; border-left-color: initial; }
.nav{ padding-left: 0px; margin-bottom: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
.nav-link{ display: inline-block; }
.navbar{ position: relative; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.navbar::before, .navbar::after{ content: ' '; display: table; }
.navbar::after{ clear: both; }
@media (min-width: 34em){
.navbar{ border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
}
.navbar-brand{ float: left; margin-right: 1rem; padding-top: 0.25rem; padding-bottom: 0.25rem; font-size: 1.25rem; }
.navbar-brand > img{ display: block; }
.navbar-toggler{ padding-top: 0.5rem; padding-right: 0.75rem; padding-bottom: 0.5rem; padding-left: 0.75rem; font-size: 1.25rem; line-height: 1; background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 48em){
.navbar-toggleable-sm{ display: block !important; }
}
.navbar-nav .nav-item{ float: left; }
.navbar-nav .nav-link{ display: block; padding-top: 0.425rem; padding-bottom: 0.425rem; }
.navbar-nav .nav-item + .nav-item{ margin-left: 1rem; }
.card, .card-nav, .home-news article a, .card-feature-container .card-feature, .filter{ position: relative; margin-bottom: 0.75rem; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(229, 229, 229); border-right-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-left-color: rgb(229, 229, 229); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.card-block{ padding-top: 1.25rem; padding-right: 1.25rem; padding-bottom: 1.25rem; padding-left: 1.25rem; }
.card-title{ margin-top: 0px; margin-bottom: 0.75rem; }
.card-header{ padding-top: 0.75rem; padding-right: 1.25rem; padding-bottom: 0.75rem; padding-left: 1.25rem; background-color: rgb(245, 245, 245); border-bottom-width: 0.0625rem; border-bottom-style: solid; border-bottom-color: rgb(229, 229, 229); }
.card-header:first-child{ border-top-left-radius: 0.1875rem 0.1875rem; border-top-right-radius: 0.1875rem 0.1875rem; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
.card-footer{ padding-top: 0.75rem; padding-right: 1.25rem; padding-bottom: 0.75rem; padding-left: 1.25rem; background-color: rgb(245, 245, 245); border-top-width: 0.0625rem; border-top-style: solid; border-top-color: rgb(229, 229, 229); }
.card-footer:last-child{ border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0.1875rem 0.1875rem; border-bottom-left-radius: 0.1875rem 0.1875rem; }
.card-info{ background-color: rgb(91, 192, 222); border-top-color: rgb(91, 192, 222); border-right-color: rgb(91, 192, 222); border-bottom-color: rgb(91, 192, 222); border-left-color: rgb(91, 192, 222); }
.card-img-top{ border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
.embed-responsive{ position: relative; display: block; height: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; overflow-x: hidden; overflow-y: hidden; }
.embed-responsive .embed-responsive-item, .embed-responsive iframe{ position: absolute; top: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
.embed-responsive-16by9{ padding-bottom: 56.25%; }
.carousel{ position: relative; }
.carousel-inner{ position: relative; width: 100%; overflow-x: hidden; overflow-y: hidden; }
.carousel-inner > .carousel-item{ position: relative; display: none; }
.carousel-inner > .carousel-item > img{ line-height: 1; }
@media (transform-3d), (-webkit-transform-3d){
.carousel-inner > .carousel-item{ -webkit-backface-visibility: hidden; -webkit-perspective: 1000px; }
 .carousel-inner > .carousel-item.active{ left: 0px; -webkit-transform: translate3d(0px, 0px, 0px); }
}
.carousel-inner > .active{ display: block; }
.carousel-inner > .active{ left: 0px; }
.carousel-control{ position: absolute; top: 0px; bottom: 0px; left: 0px; width: 15%; font-size: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: rgba(0, 0, 0, 0.597656) 0px 1px 2px; opacity: 0.5; }
.carousel-control.left{ background-repeat: repeat no-repeat; }
.carousel-control.right{ right: 0px; left: auto; background-repeat: repeat no-repeat; }
.carousel-control .icon-prev, .carousel-control .icon-next{ position: absolute; top: 50%; z-index: 5; display: inline-block; width: 20px; height: 20px; margin-top: -10px; font-family: serif; line-height: 1; }
.carousel-control .icon-prev{ left: 50%; margin-left: -10px; }
.carousel-control .icon-next{ right: 50%; margin-right: -10px; }
.carousel-control .icon-prev::before{ content: ‹; }
.carousel-control .icon-next::before{ content: ›; }
@media (min-width: 34em){
.carousel-control .icon-prev, .carousel-control .icon-next{ width: 30px; height: 30px; margin-top: -15px; font-size: 30px; }
.carousel-control .icon-prev{ margin-left: -15px; }
.carousel-control .icon-next{ margin-right: -15px; }
}
.pull-right{ float: right !important; }
.sr-only{ position: absolute; width: 1px; height: 1px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: -1px; margin-right: -1px; margin-bottom: -1px; margin-left: -1px; overflow-x: hidden; overflow-y: hidden; clip: rect(0px 0px 0px 0px); border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
.text-right{ text-align: right; }
.text-capitalize{ text-transform: capitalize; }
@media (max-width: 33.9em){
 .product-teaser .col-arrow, .product-teaser .col-description .col-description-1, .product-teaser .col-description .col-description-2{ display: none !important; }
}
@media (max-width: 47.9em){
 .product-teaser .col-arrow, .product-teaser .col-description .col-description-2, .docs .docs-aside{ display: none !important; }
}
@media (min-width: 48em){
.hidden-md-up{ display: none !important; }
}
.fa, input[type="checkbox"]:checked + label::before, .carousel-control .icon-prev, .carousel-control .icon-next{ display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; }
.pull-right{ float: right; }
.fa.pull-right{ margin-left: 0.3em; }
.fa-clock-o::before{ content: ; }
.fa-download::before{ content: ; }
.fa-map-marker::before{ content: ; }
.fa-arrow-right::before{ content: ; }
.fa-eye::before{ content: ; }
.fa-calendar::before{ content: ; }
.fa-comment::before{ content: ; }
.fa-comments::before{ content: ; }
.fa-caret-down::before{ content: ; }
.fa-envelope::before{ content: ; }
.fa-angle-left::before{ content: ; }
.fa-angle-right::before{ content: ; }
.fa-calendar-o::before{ content: ; }
.fa-external-link-square::before{ content: ; }
.fa-cube::before{ content: ; }
header .sup-nav{ display: none; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(51, 51, 51); min-height: 20px; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 47.9em){
header .sup-nav{ display: block; }
}
header .sup-nav .row{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
header .sup-nav .row ul{ list-style-type: none; list-style-position: initial; list-style-image: initial; margin-bottom: 0px; padding-left: 0px; }
header .sup-nav .row ul > li{ padding-right: 15px; }
header .sup-nav .row ul > li > a{ color: rgb(255, 255, 255); font-size: 11px; }
header .sup-nav .row .sup-nav-shortcuts{ display: none; }
a{ }
h1{ font-weight: 700; font-size: 1.875rem; color: rgb(226, 0, 26); }
h2{ margin-top: 0px; margin-bottom: 0.625rem; padding-top: 0px; padding-bottom: 0.625rem; font-weight: 700; font-size: 1.375rem; line-height: 1.625rem; }
h2.border{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(213, 213, 213); }
h2.dropdown-toggle{ cursor: pointer; }
h3{ font-size: 1.125rem; font-weight: 700; }
h3.border{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(213, 213, 213); line-height: 2.5rem; margin-top: 0.625rem; margin-bottom: 0px; }
hr{ border-top-color: rgb(213, 213, 213); }
p{ font-size: 0.875rem; line-height: 1.125rem; }
p.lg{ font-size: 1rem; line-height: 1.125rem; }
p.small{ font-size: 0.75rem; line-height: 0.875rem; color: rgb(178, 178, 178); }
label{ font-weight: normal; }
ul{ padding-left: 1.75rem; margin-left: 0px; list-style-type: disc; }
ul > li{ color: rgb(68, 68, 68); font-size: 0.875rem; }
ul > li > a{ color: rgb(68, 68, 68); font-size: 0.875rem; }
ul.bullet > li{ color: rgb(226, 0, 26); }
ul.bullet > li > a{ color: rgb(68, 68, 68); font-size: 0.875rem; }
.tags{ font-size: 0.75rem; }
.tags > li{ padding-right: 0.625rem; }
.tags > li > span{ color: rgb(178, 178, 178); }
.tags > li > span::before{ content: '#'; }
.navbar{ min-height: 3.25rem; border-right-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(194, 0, 23); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(165, 0, 19); box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 8px 0px; background-repeat: repeat no-repeat; }
@media (max-width: 47.9em){
.navbar .container{ margin-right: auto; margin-left: auto; padding-left: 0px; padding-right: 0px; }
.navbar .container::before, .navbar .container::after{ content: ' '; display: table; }
.navbar .container::after{ clear: both; }
}
.navbar .navbar-toggler{ padding-top: 0px; padding-right: 0.9375rem; padding-bottom: 0px; padding-left: 0.9375rem; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: 3.125rem; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; z-index: 2; position: relative; color: rgb(255, 255, 255); }
.navbar .navbar-brand{ padding-top: 0.625rem; position: absolute; width: 100%; left: 0px; top: 0px; text-align: center; }
@media (min-width: 47.9em){
.navbar .navbar-brand{ position: inherit; text-align: left; width: auto; }
}
.navbar .navbar-brand > img{ display: inline; height: 1.875rem; width: auto; }
.navbar .navbar-nav{ float: right; }
.navbar .navbar-nav::before, .navbar .navbar-nav::after{ content: ' '; display: table; }
.navbar .navbar-nav::after{ clear: both; }
.navbar .navbar-nav > li{ position: relative; display: block; margin-top: 0px !important; margin-right: 0px !important; margin-bottom: 0px !important; margin-left: 0px !important; }
.navbar .navbar-nav > li > a{ color: rgb(255, 255, 255); padding-top: 0.9375rem; padding-right: 0.9375rem; padding-bottom: 0.9375rem; padding-left: 0.9375rem; line-height: 1.25rem; }
@media (max-width: 61.9em) and (min-width: 47.9em){
.navbar .navbar-nav > li > a{ padding-top: 0.9375rem; padding-right: 0.5rem; padding-bottom: 0.9375rem; padding-left: 0.5rem; font-size: 0.75rem; }
}
@media (max-width: 47.9em){
.navbar{ border-bottom-width: 0px; border-bottom-style: initial; border-bottom-color: initial; }
 .navbar .collapse ul li a{ color: rgb(68, 68, 68); background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(237, 237, 237); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(213, 213, 213); padding-top: 0.625rem; padding-bottom: 0.625rem; background-position: initial initial; background-repeat: initial initial; }
.navbar .collapse ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; float: none; position: relative; }
.navbar .collapse ul li{ float: none; }
.navbar .collapse ul li a{ font-weight: 700; }
.navbar .collapse ul li a::after{ float: right; margin-top: 0.625rem; }
}
hr{ }
.card, .card-nav, .home-news article a, .card-feature-container .card-feature, .filter{ box-shadow: none; margin-bottom: 20px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(245, 245, 245); display: block; background-position: initial initial; background-repeat: initial initial; }
.card h2, .card-nav h2, .filter h3{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.card hr{ margin-right: -1.25rem; margin-left: -1.25rem; }
 .card-nav .card-block ul{ padding-left: 1.25rem; }
.card.card-default{ border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); }
.bloc, .product-teaser{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; box-shadow: rgba(0, 0, 0, 0.148438) 0px 0px 0.625rem 0px; padding-top: 1.25rem; padding-right: 1.25rem; padding-bottom: 1.25rem; padding-left: 1.25rem; background-position: initial initial; background-repeat: initial initial; }
.card-nav .card-header .dropdown-toggle::after{ display: none; }
.product-teaser{ color: rgb(68, 68, 68); font-size: 0.75rem; }
.product-teaser h2{ color: rgb(226, 0, 26); }
.product-teaser img{ display: block; max-width: 100%; height: auto; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(195, 195, 195); border-right-color: rgb(195, 195, 195); border-bottom-color: rgb(195, 195, 195); border-left-color: rgb(195, 195, 195); border-top-left-radius: 0.125rem 0.125rem; border-top-right-radius: 0.125rem 0.125rem; border-bottom-right-radius: 0.125rem 0.125rem; border-bottom-left-radius: 0.125rem 0.125rem; }
.product-teaser .col-picture{ float: left; width: 100%; position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.product-teaser .col-picture{ float: left; width: 41.6666666667%; }
}
@media (min-width: 48em){
.product-teaser .col-picture{ float: left; width: 33.3333333333%; }
}
.product-teaser .col-arrow{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 48em){
.product-teaser .col-arrow{ float: left; width: 8.3333333333%; }
}
.product-teaser .col-arrow i{ font-size: 1.875rem; }
.product-teaser .col-description{ float: left; width: 100%; position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.product-teaser .col-description{ float: left; width: 58.3333333333%; }
}
@media (min-width: 48em){
.product-teaser .col-description{ float: left; width: 58.3333333333%; }
}
.product-teaser .col-description .col-description-1{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.product-teaser .col-description .col-description-1{ float: left; width: 100%; }
}
@media (min-width: 48em){
.product-teaser .col-description .col-description-1{ float: left; width: 41.6666666667%; }
}
.product-teaser .col-description .col-description-2{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 48em){
.product-teaser .col-description .col-description-2{ float: left; width: 58.3333333333%; }
}
.home-news{ padding-top: 1.875rem; padding-bottom: 1.875rem; }
.home-news article{ float: left; width: 100%; position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.home-news article{ float: left; width: 50%; }
}
@media (min-width: 48em){
.home-news article{ float: left; width: 25%; }
}
.home-news article a{ box-shadow: rgba(0, 0, 0, 0.148438) 0px 0px 0.625rem 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; color: rgb(68, 68, 68); display: block; }
.home-news p{ padding-top: 0.625rem; padding-right: 0.625rem; padding-bottom: 0.625rem; padding-left: 0.625rem; }
.home-news img{ display: block; max-width: 100%; height: auto; border-top-right-radius: 0.25rem 0.25rem; border-top-left-radius: 0.25rem 0.25rem; }
@media (max-width: 61.9em) and (min-width: 48em){
.home-news p{ min-height: 4.625rem; }
}
@media (max-width: 74.9em) and (min-width: 62em){
.home-news p{ min-height: 6.875rem; }
}
@media (min-width: 75em){
.home-news p{ min-height: 6.875rem; }
}
.card-feature-container{ position: relative; min-height: 1px; padding-left: 10px; padding-right: 10px; }
@media (min-width: 34em){
.card-feature-container{ float: left; width: 50%; }
}
@media (min-width: 48em){
.card-feature-container{ float: left; width: 33.3333333333%; }
}
.card-feature-container .card-feature{ border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(229, 229, 229); border-right-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-left-color: rgb(229, 229, 229); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.card-feature-container .card-feature img{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
.card-feature-container .card-feature .card-block{ display: table; width: 100%; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(250, 250, 250); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(229, 229, 229); border-bottom-right-radius: 0.375rem 0.375rem; border-bottom-left-radius: 0.375rem 0.375rem; background-position: initial initial; background-repeat: initial initial; }
.card-feature-container .card-feature .card-block p{ display: table-cell; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; text-align: center; font-weight: 700; vertical-align: middle; white-space: normal; height: 2rem; line-height: 1rem; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-size: 0.75rem; color: rgb(68, 68, 68); }
.col-btn{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 48em){
.col-btn{ float: left; width: 33.3333333333%; }
}
.col-btn.col-btn-margin{ margin-bottom: 1.25rem; }
@media (min-width: 48em){
.col-btn.col-btn-margin{ margin-left: 33.3333333333%; }
}
@media (min-width: 48em){
.col-btn.col-btn-margin{ margin-bottom: 0px; }
}
.application-picture{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.application-picture{ float: left; width: 50%; }
}
.application-content{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.application-content{ float: left; width: 50%; }
}
.event-teaser h3{ margin-bottom: 0.625rem; }
.event-teaser p{ color: rgb(153, 153, 153); }
.event-picture{ float: left; width: 100%; position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.event-picture{ float: left; width: 33.3333333333%; }
}
.event-picture img{ margin-right: 0.625rem; }
.event-content{ float: left; width: 100%; position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.event-content{ float: left; width: 100%; }
}
.event-content h3{ margin-top: -0.625rem; margin-bottom: 0.9375rem; }
.event-content p:last-child{ margin-bottom: 0px; }
.event-picture + .event-content{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.event-picture + .event-content{ float: left; width: 66.6666666667%; }
}
.event-picture + .event-content h3{ margin-top: 0.625rem; }
@media (min-width: 34em){
.event-picture + .event-content h3{ margin-top: -0.625rem; }
}
.btn{ color: rgb(255, 255, 255); font-size: 0.875rem; font-weight: 700; text-shadow: rgba(0, 0, 0, 0.246094) 1px 1px 0px; padding-top: 0px; padding-right: 1.25rem; padding-bottom: 0px; padding-left: 1.25rem; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; height: 2.5rem; line-height: 2.5rem; display: block; width: 100%; }
.btn > span{ display: table-cell; vertical-align: middle; white-space: normal; text-align: left; height: 2.5rem; line-height: 1rem; padding-top: 0px; padding-right: 0.125rem; padding-bottom: 0px; padding-left: 0.625rem; }
.btn > i{ display: block; float: left; height: 2.5rem; width: 2.5rem; margin-left: -1.25rem; line-height: 2.5rem; text-align: center; text-shadow: rgba(255, 255, 255, 0.847656) 1px 1px 0px; }
.btn + .btn{ margin-top: 5px; }
.btn-default{ box-shadow: rgb(61, 61, 61) 0px 1px 0px; color: rgb(255, 255, 255); background-repeat: repeat no-repeat; }
.btn-default > i{ text-shadow: rgba(0, 0, 0, 0.246094) 1px 1px 0px; }
.btn-default > span{ border-left-width: 1px; border-left-style: solid; border-left-color: rgb(63, 63, 63); }
.btn-primary{ background-repeat: repeat no-repeat; }
.btn-primary > i{ text-shadow: rgba(255, 255, 255, 0.746094) 1px 1px 0px; }
.btn-primary > span{ border-left-width: 1px; border-left-style: solid; border-left-color: rgb(185, 0, 21); opacity: 0.9; }
.btn-group .btn{ color: rgb(255, 255, 255); padding-right: 0px; }
.btn-group .btn-switch{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(250, 250, 250); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(213, 213, 213); border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); text-shadow: none; color: rgb(68, 68, 68); font-weight: normal; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-position: initial initial; background-repeat: initial initial; }
.btn-group .btn-switch.active{ color: rgb(255, 255, 255); border-top-color: rgb(226, 0, 26); border-right-color: rgb(226, 0, 26); border-bottom-color: rgb(226, 0, 26); border-left-color: rgb(226, 0, 26); background-repeat: repeat no-repeat; }
.btn-group .dropdown-toggle::after{ display: none; }
.btn-group .dropdown-menu{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(250, 250, 250); width: 100%; background-position: initial initial; background-repeat: initial initial; }
.btn-group .dropdown-menu i{ width: 1.25rem; text-align: center; color: rgb(145, 145, 145); }
.btn-group .dropdown-menu li{ margin-bottom: 0px; }
.btn-group .dropdown-menu li > a{ display: block; padding-top: 0.1875rem; padding-right: 1.25rem; padding-bottom: 0.1875rem; padding-left: 1.25rem; clear: both; font-weight: normal; line-height: 1.5; color: rgb(55, 58, 60); white-space: nowrap; cursor: pointer; }
.btn-group .dropdown-menu .dropdown-header{ padding-top: 0.625rem; padding-right: 1.25rem; padding-bottom: 0px; padding-left: 1.25rem; font-weight: 700; }
.btn-group-justified{ display: table; width: 100%; table-layout: fixed; border-collapse: separate; }
.btn-group-justified > .btn{ float: none; display: table-cell; width: 1%; }
.twitter-btn{ display: block; color: rgb(94, 94, 94); font-weight: 300; font-size: 0.9375rem; line-height: normal; text-align: center; }
.form-control{ border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; height: 2.8125rem; }
label{ font-size: 0.75rem; font-weight: 700; cursor: pointer; }
.input-group{ display: table; border-collapse: separate; }
.input-group .form-control{ display: table-cell; width: 100%; }
.input-group .input-group-addon{ display: table-cell; width: 1%; white-space: nowrap; }
 .checkbox{ margin-top: 0.75rem; }
input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked{ position: absolute; left: -9999px; }
input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label{ position: relative; padding-left: 1.5625rem; cursor: pointer; }
input[type="checkbox"]:not(:checked) + label::before, input[type="checkbox"]:checked + label::before{ position: absolute; left: 0px; top: 1px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(213, 213, 213); border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); background-position: initial initial; background-repeat: initial initial; }
input[type="checkbox"]:not(:checked) + label::before, input[type="checkbox"]:checked + label::before{ width: 1rem; height: 1rem; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
input[type="checkbox"]:not(:checked) + label::before{ content: ' '; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
input[type="checkbox"]:checked + label::before{ color: rgb(226, 0, 26); font-size: 0.75rem; line-height: 1rem; text-align: center; content: ; }
slider{ display: inline-block; position: relative; height: 12px; width: 100%; margin-top: 0.9375rem; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; vertical-align: middle; }
slider div{ white-space: nowrap; position: absolute; }
slider div.bar{ width: 100%; height: 100%; border-top-left-radius: 12px 12px; border-top-right-radius: 12px 12px; border-bottom-right-radius: 12px 12px; border-bottom-left-radius: 12px 12px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(213, 213, 213); border-right-color: rgb(213, 213, 213); border-bottom-color: rgb(213, 213, 213); border-left-color: rgb(213, 213, 213); overflow-x: hidden; overflow-y: hidden; background-position: initial initial; background-repeat: initial initial; }
slider div.bar .selection{ width: 0%; height: 100%; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(226, 0, 26); background-position: initial initial; background-repeat: initial initial; }
slider div.handle{ cursor: pointer; width: 17px; height: 17px; top: -3px; background-color: rgb(68, 68, 68); z-index: 2; border-top-left-radius: 100% 100%; border-top-right-radius: 100% 100%; border-bottom-right-radius: 100% 100%; border-bottom-left-radius: 100% 100%; }
slider div.bubble{ display: none; cursor: default; top: -22px; padding-top: 1px; padding-right: 3px; padding-bottom: 1px; padding-left: 3px; font-size: 0.7em; }
slider div.bubble.limit{ color: rgb(119, 119, 119); }
.carousel-control.left{ background-repeat: repeat no-repeat; }
.carousel-control.right{ background-repeat: repeat no-repeat; }
.carousel-control .icon-prev, .carousel-control .icon-next{ width: 3rem; height: 3rem; line-height: 3rem; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; text-shadow: none; color: rgb(68, 68, 68); font-weight: 900; background-position: initial initial; background-repeat: initial initial; }
.carousel-control .icon-prev::before{ content: ; }
.carousel-control .icon-next::before{ content: ; margin-left: 0.25rem; }
.filter{ margin-bottom: 1.25rem; padding-top: 0.625rem; padding-right: 0.625rem; padding-bottom: 0.625rem; padding-left: 0.625rem; }
.filter h3{ margin-top: 0px; margin-bottom: 0px; line-height: 2.8125rem; }
.filter label{ line-height: 2.8125rem; margin-bottom: 0px; }
.filter form{ margin-left: -0.625rem; margin-right: -0.625rem; }
.filter form::before, .filter form::after{ content: ' '; display: table; }
.filter form::after{ clear: both; }
.filter .col-label{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 48em){
.filter .col-label{ float: left; width: 25%; }
}
.filter .col-label label{ line-height: 2.8125rem; }
.filter .col-select{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; padding-bottom: 0.625rem; }
@media (min-width: 48em){
.filter .col-select{ float: left; width: 75%; }
}
.docs{ padding-top: 30px; padding-bottom: 100px; }
.docs .docs-aside{ margin-top: 20px; position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.docs .docs-aside{ float: left; width: 25%; }
}
.docs .highlight pre{ white-space: pre !important; }
.bs-example{ position: relative; padding-top: 45px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; margin-top: 0px; margin-right: -15px; margin-bottom: 15px; margin-left: -15px; border-top-color: rgb(229, 229, 229); border-right-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; box-shadow: rgba(0, 0, 0, 0.046875) 0px 3px 6px inset; }
.bs-example::after{ position: absolute; top: 15px; left: 15px; font-size: 12px; font-weight: bold; color: rgb(149, 149, 149); text-transform: uppercase; letter-spacing: 1px; content: Example; }
.bs-example + .highlight{ margin-top: -15px; margin-right: -15px; margin-bottom: 15px; margin-left: -15px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
@media (min-width: 768px){
.bs-example{ margin-right: 0px; margin-left: 0px; background-color: rgb(255, 255, 255); border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-left-radius: 4px 4px; border-top-right-radius: 4px 4px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; box-shadow: none; }
.bs-example + .highlight{ margin-top: -16px; margin-right: 0px; margin-left: 0px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-bottom-right-radius: 4px 4px; border-bottom-left-radius: 4px 4px; }
}
.bs-example .container, .bs-example section{ width: auto; }
 .bs-example > .table:last-child{ margin-bottom: 0px; }
.highlight{ padding-top: 9px; padding-right: 14px; padding-bottom: 9px; padding-left: 14px; margin-bottom: 14px; background-color: rgb(247, 247, 249); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(225, 225, 232); border-right-color: rgb(225, 225, 232); border-bottom-color: rgb(225, 225, 232); border-left-color: rgb(225, 225, 232); border-top-left-radius: 4px 4px; border-top-right-radius: 4px 4px; border-bottom-right-radius: 4px 4px; border-bottom-left-radius: 4px 4px; }
.highlight pre{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 0px; word-break: normal; white-space: nowrap; background-color: transparent; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
.highlight pre code{ font-size: inherit; color: rgb(51, 51, 51); }
.highlight pre code:first-child{ display: inline-block; padding-right: 45px; }
.nt{ color: rgb(47, 111, 159); }
.img-responsive-fluid, .home-news img, .card-feature-container .card-feature img{ min-width: 100%; }
img{ width: 100%; }
.row{ }