html{ font-family: sans-serif; }
body{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
 aside, footer, header, main, nav, section{ display: block; }
a{ background-color: transparent; }
h1{ font-size: 2em; margin-top: 0.67em; margin-right: 0px; margin-bottom: 0.67em; margin-left: 0px; }
img{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
hr{ box-sizing: content-box; height: 0px; }
code{ font-family: monospace, monospace; font-size: 1em; }
button{ color: inherit; font: inherit; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
button{ overflow-x: visible; overflow-y: visible; }
button{ text-transform: none; }
button{ -webkit-appearance: button; cursor: pointer; }
@media print{
*{ text-shadow: none !important; box-shadow: none !important; }
a{ text-decoration: underline; }
 img{ page-break-inside: avoid; }
img{ max-width: 100% !important; }
p, h2, h3{ orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid; }
.navbar{ display: none; }
}
html{ box-sizing: border-box; }
*{ box-sizing: inherit; }
html{ font-size: 16px; }
body{ font-family: 'Noto Sans', Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 1.5; color: rgb(55, 58, 60); background-color: rgb(250, 250, 250); }
h1, h2, h3, h4{ margin-top: 0px; margin-bottom: 0.5rem; }
p{ margin-top: 0px; margin-bottom: 1rem; }
 ul{ margin-top: 0px; margin-bottom: 1rem; }
 ul ul{ margin-bottom: 0px; }
a{ color: rgb(226, 0, 26); text-decoration: none; }
img{ vertical-align: middle; }
 button{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: inherit; }
h1, h2, h3, h4{ font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3{ margin-bottom: 0.5rem; }
h4{ margin-bottom: 0.5rem; }
h1{ font-size: 2.5rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.75rem; }
h4{ font-size: 1.5rem; }
hr{ margin-top: 1rem; margin-bottom: 1rem; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-width: 0.0625rem; border-top-style: solid; border-top-color: rgba(0, 0, 0, 0.0976562); }
 footer .footer-menu img, .card-nav .card-img-top{ display: block; max-width: 100%; height: auto; }
code{ font-family: Menlo, Monaco, Consolas, 'Courier New', monospace; }
code{ padding-top: 0.2rem; padding-right: 0.4rem; padding-bottom: 0.2rem; padding-left: 0.4rem; font-size: 90%; color: rgb(189, 65, 71); background-color: rgb(247, 247, 249); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.container, section{ margin-right: auto; margin-left: auto; padding-left: 0.625rem; padding-right: 0.625rem; }
.container::before, section::before, .container::after, section::after{ content: ' '; display: table; }
.container::after, section::after{ clear: both; }
@media (min-width: 62em){
.container, section{ max-width: 980px; }
}
@media (min-width: 75em){
.container, section{ max-width: 980px; }
}
.row{ margin-left: -0.625rem; margin-right: -0.625rem; }
.row::before, .row::after{ content: ' '; display: table; }
.row::after{ clear: both; }
 .col-xs-6{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
 .col-xs-6{ float: left; }
.col-xs-6{ width: 50%; }
.collapse{ display: none; }
.collapse.in{ display: block; }
 .dropdown{ position: relative; }
.dropdown-toggle::after{ display: inline-block; width: 0px; height: 0px; margin-left: 0.25rem; vertical-align: middle; content: ''; border-top-width: 0.3em; border-top-style: solid; border-top-color: initial; border-right-width: 0.3em; border-right-style: solid; border-right-color: transparent; border-left-width: 0.3em; border-left-style: solid; border-left-color: transparent; }
.dropdown-menu{ position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-top: 2px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 1rem; text-align: left; list-style-type: none; list-style-position: initial; list-style-image: initial; background-color: rgb(255, 255, 255); background-clip: padding-box; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(0, 0, 0, 0.148438); border-right-color: rgba(0, 0, 0, 0.148438); border-bottom-color: rgba(0, 0, 0, 0.148438); border-left-color: rgba(0, 0, 0, 0.148438); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.dropdown-item{ display: block; padding-top: 3px; padding-right: 20px; padding-bottom: 3px; padding-left: 20px; clear: both; font-weight: normal; line-height: 1.5; color: rgb(55, 58, 60); white-space: nowrap; text-align: inherit; width: 100%; background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; background-position: initial initial; background-repeat: initial initial; }
.dropdown-menu-left{ right: auto; left: 0px; }
.nav{ padding-left: 0px; margin-bottom: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
.nav-link{ display: inline-block; }
.nav-tabs{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); }
.nav-tabs::before, .nav-tabs::after{ content: ' '; display: table; }
.nav-tabs::after{ clear: both; }
.nav-tabs .nav-item{ float: left; margin-bottom: -1px; }
.nav-tabs .nav-item + .nav-item{ margin-left: 0.2rem; }
.nav-tabs .nav-link{ display: block; padding-top: 0.5rem; padding-right: 0.9375rem; padding-bottom: 0.375rem; padding-left: 0.9375rem; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
.nav-tabs .nav-link.active{ color: rgb(85, 89, 92); background-color: transparent; border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: transparent; border-left-color: rgb(221, 221, 221); }
.navbar{ position: relative; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.navbar::before, .navbar::after{ content: ' '; display: table; }
.navbar::after{ clear: both; }
@media (min-width: 34em){
.navbar{ border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
}
.navbar-brand{ float: left; margin-right: 1rem; padding-top: 0.25rem; padding-bottom: 0.25rem; font-size: 1.25rem; }
.navbar-brand > img{ display: block; }
.navbar-toggler{ padding-top: 0.5rem; padding-right: 0.75rem; padding-bottom: 0.5rem; padding-left: 0.75rem; font-size: 1.25rem; line-height: 1; background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 48em){
.navbar-toggleable-sm{ display: block !important; }
}
.navbar-nav .nav-item{ float: left; }
.navbar-nav .nav-link{ display: block; padding-top: 0.425rem; padding-bottom: 0.425rem; }
.navbar-nav .nav-item + .nav-item{ margin-left: 1rem; }
 .card-nav{ position: relative; margin-bottom: 0.75rem; border-top-width: 0.0625rem; border-right-width: 0.0625rem; border-bottom-width: 0.0625rem; border-left-width: 0.0625rem; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(229, 229, 229); border-right-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-left-color: rgb(229, 229, 229); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; }
.card-block{ padding-top: 1.25rem; padding-right: 1.25rem; padding-bottom: 1.25rem; padding-left: 1.25rem; }
.card-header{ padding-top: 0.75rem; padding-right: 1.25rem; padding-bottom: 0.75rem; padding-left: 1.25rem; background-color: rgb(245, 245, 245); border-bottom-width: 0.0625rem; border-bottom-style: solid; border-bottom-color: rgb(229, 229, 229); }
.card-header:first-child{ border-top-left-radius: 0.1875rem 0.1875rem; border-top-right-radius: 0.1875rem 0.1875rem; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
.card-img-top{ border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; }
.sr-only{ position: absolute; width: 1px; height: 1px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: -1px; margin-right: -1px; margin-bottom: -1px; margin-left: -1px; overflow-x: hidden; overflow-y: hidden; clip: rect(0px 0px 0px 0px); border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
@media (max-width: 33.9em){
 footer .footer-menu, .card-nav .card-img-top{ display: none !important; }
}
@media (max-width: 47.9em){
 .docs .docs-aside{ display: none !important; }
}
@media (min-width: 48em){
.hidden-md-up{ display: none !important; }
}
header .sup-nav{ display: none; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(51, 51, 51); min-height: 20px; background-position: initial initial; background-repeat: initial initial; }
@media (min-width: 47.9em){
header .sup-nav{ display: block; }
}
header .sup-nav .row{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
header .sup-nav .row ul{ list-style-type: none; list-style-position: initial; list-style-image: initial; margin-bottom: 0px; padding-left: 0px; }
header .sup-nav .row ul > li{ padding-right: 15px; }
header .sup-nav .row ul > li > a{ color: rgb(255, 255, 255); font-size: 11px; }
header .sup-nav .row .sup-nav-shortcuts{ display: none; }
footer .col{ position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
footer .col{ float: left; width: 33.3333333333%; }
}
@media (min-width: 48em){
footer .col{ float: left; width: 33.3333333333%; }
}
footer h3{ padding-left: 0.625rem; }
footer h4{ padding-left: 0.625rem; }
footer ul > li{ color: rgb(226, 0, 26); }
footer .footer-menu{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(237, 237, 237); padding-top: 1.875rem; padding-bottom: 1.875rem; box-shadow: rgba(0, 0, 0, 0.0976562) 0px 0px 1.5625rem 0px inset; background-position: initial initial; background-repeat: initial initial; }
a{ }
h1{ font-weight: 700; font-size: 1.875rem; color: rgb(226, 0, 26); }
h2{ margin-top: 0px; margin-bottom: 0.625rem; padding-top: 0px; padding-bottom: 0.625rem; font-weight: 700; font-size: 1.375rem; line-height: 1.625rem; }
h2.dropdown-toggle{ cursor: pointer; }
h3{ font-size: 1.125rem; font-weight: 700; }
h4{ font-size: 0.875rem; line-height: 1.125rem; font-weight: 700; }
h4{ margin-top: 0.625rem; margin-bottom: 0.625rem; }
hr{ border-top-color: rgb(213, 213, 213); }
p{ font-size: 0.875rem; line-height: 1.125rem; }
p.lg{ font-size: 1rem; line-height: 1.125rem; }
ul{ padding-left: 1.75rem; margin-left: 0px; list-style-type: disc; }
ul > li{ color: rgb(68, 68, 68); font-size: 0.875rem; }
ul > li > a{ color: rgb(68, 68, 68); font-size: 0.875rem; }
ul.bullet > li{ color: rgb(226, 0, 26); }
ul.bullet > li > a{ color: rgb(68, 68, 68); font-size: 0.875rem; }
.nav-tabs{ font-weight: 700; margin-bottom: 1.25rem; }
.nav-tabs > li > a{ color: rgb(94, 94, 94); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); margin-right: 0px; margin-top: 0.3125rem; }
.navbar{ min-height: 3.25rem; border-right-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(194, 0, 23); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(165, 0, 19); box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 8px 0px; background-repeat: repeat no-repeat; }
@media (max-width: 47.9em){
.navbar .container{ margin-right: auto; margin-left: auto; padding-left: 0px; padding-right: 0px; }
.navbar .container::before, .navbar .container::after{ content: ' '; display: table; }
.navbar .container::after{ clear: both; }
}
.navbar .navbar-toggler{ padding-top: 0px; padding-right: 0.9375rem; padding-bottom: 0px; padding-left: 0.9375rem; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: 3.125rem; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-top-left-radius: 0px 0px; border-top-right-radius: 0px 0px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; z-index: 2; position: relative; color: rgb(255, 255, 255); }
.navbar .navbar-brand{ padding-top: 0.625rem; position: absolute; width: 100%; left: 0px; top: 0px; text-align: center; }
@media (min-width: 47.9em){
.navbar .navbar-brand{ position: inherit; text-align: left; width: auto; }
}
.navbar .navbar-brand > img{ display: inline; height: 1.875rem; width: auto; }
.navbar .navbar-nav{ float: right; }
.navbar .navbar-nav::before, .navbar .navbar-nav::after{ content: ' '; display: table; }
.navbar .navbar-nav::after{ clear: both; }
.navbar .navbar-nav > li{ position: relative; display: block; margin-top: 0px !important; margin-right: 0px !important; margin-bottom: 0px !important; margin-left: 0px !important; }
.navbar .navbar-nav > li > a{ color: rgb(255, 255, 255); padding-top: 0.9375rem; padding-right: 0.9375rem; padding-bottom: 0.9375rem; padding-left: 0.9375rem; line-height: 1.25rem; }
@media (max-width: 61.9em) and (min-width: 47.9em){
.navbar .navbar-nav > li > a{ padding-top: 0.9375rem; padding-right: 0.5rem; padding-bottom: 0.9375rem; padding-left: 0.5rem; font-size: 0.75rem; }
}
@media (max-width: 47.9em){
.navbar{ border-bottom-width: 0px; border-bottom-style: initial; border-bottom-color: initial; }
 .navbar .collapse ul li a{ color: rgb(68, 68, 68); background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(237, 237, 237); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(213, 213, 213); padding-top: 0.625rem; padding-bottom: 0.625rem; background-position: initial initial; background-repeat: initial initial; }
.navbar .collapse ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; float: none; position: relative; }
.navbar .collapse ul li{ float: none; }
.navbar .collapse ul li a{ font-weight: 700; }
.navbar .collapse ul li a::after{ float: right; margin-top: 0.625rem; }
}
hr{ }
 .card-nav{ box-shadow: none; margin-bottom: 20px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(245, 245, 245); display: block; background-position: initial initial; background-repeat: initial initial; }
 .card-nav h2{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
 .card-nav .card-block ul{ padding-left: 1.25rem; }
.bloc{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); border-top-left-radius: 0.25rem 0.25rem; border-top-right-radius: 0.25rem 0.25rem; border-bottom-right-radius: 0.25rem 0.25rem; border-bottom-left-radius: 0.25rem 0.25rem; box-shadow: rgba(0, 0, 0, 0.148438) 0px 0px 0.625rem 0px; padding-top: 1.25rem; padding-right: 1.25rem; padding-bottom: 1.25rem; padding-left: 1.25rem; background-position: initial initial; background-repeat: initial initial; }
.card-nav .card-header .dropdown-toggle::after{ display: none; }
.docs{ padding-top: 30px; padding-bottom: 100px; }
.docs .docs-aside{ margin-top: 20px; position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; }
@media (min-width: 34em){
.docs .docs-aside{ float: left; width: 25%; }
}
.docs .docs-main{ float: left; width: 100%; position: relative; min-height: 1px; padding-left: 0.625rem; padding-right: 0.625rem; padding-bottom: 1.25rem; padding-top: 30px; }
@media (min-width: 34em){
.docs .docs-main{ float: left; width: 75%; }
}
.bs-example{ position: relative; padding-top: 45px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px; margin-top: 0px; margin-right: -15px; margin-bottom: 15px; margin-left: -15px; border-top-color: rgb(229, 229, 229); border-right-color: rgb(238, 238, 238); border-bottom-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; box-shadow: rgba(0, 0, 0, 0.046875) 0px 3px 6px inset; }
.bs-example::after{ position: absolute; top: 15px; left: 15px; font-size: 12px; font-weight: bold; color: rgb(149, 149, 149); text-transform: uppercase; letter-spacing: 1px; content: Example; }
@media (min-width: 768px){
.bs-example{ margin-right: 0px; margin-left: 0px; background-color: rgb(255, 255, 255); border-top-color: rgb(221, 221, 221); border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-left-radius: 4px 4px; border-top-right-radius: 4px 4px; border-bottom-right-radius: 0px 0px; border-bottom-left-radius: 0px 0px; box-shadow: none; }
}
.bs-example .container{ width: auto; }
img{ width: 100%; }
.row{ }