<aside class="docs-aside">
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt="">-->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#api" data-toggle="collapse" aria-expanded="false">API</h2>
		</div>
		<div class="card-block collapse {% if include.view == "why" %}in{% endif %}" id="api">
			<ul class="bullet">
				<li><a href="#why">Why ?</a></li>
				<li><a href="#prismic">Prismic.io</a></li> 
				<li><a href="#data">Data</a></li>
				<li><a href="#key">API Key</a></li>
			</ul>
		</div>
	</div>
</aside>