<aside class="docs-aside">
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt="">-->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseColours" data-toggle="collapse" aria-expanded="false">Colours</h2>
		</div>
		<div class="card-block collapse {% if include.view == "colours" %}in{% endif %}" id="collapseColours">
			<ul class="bullet">
				<li><a href="/brand-assets/colours#main-colours">Main colours</a></li>
				<li><a href="/brand-assets/colours#gray-variations">Gray variations</a></li>
				<li><a href="/brand-assets/colours#gradients">Gradients</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseLogos" data-toggle="collapse" aria-expanded="false">Logos</h2>
		</div>
		<div class="card-block collapse {% if include.view == "logos" %}in{% endif %}" id="collapseLogos">
			<ul class="bullet">
				<li><a href="/brand-assets/logos#navbar">Navbar</a></li>
				<li><a href="/brand-assets/logos#rectangular">Rectangular</a></li>
				<li><a href="/brand-assets/logos#square">Square</a></li>
				<li><a href="/brand-assets/logos#round">Round</a></li>
				<li><a href="/brand-assets/logos#official-dealer">Official Dealer</a></li>
				<li><a href="/brand-assets/logos#icon">Icon</a></li>
				<li><a href="/brand-assets/logos#iconic">Iconic</a></li>
				<li><a href="/brand-assets/logos#manitou-com">Manitou.com</a></li>
				<li><a href="/brand-assets/logos#manitou-blog">Manitou Blog</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseFonts" data-toggle="collapse" aria-expanded="false">Fonts</h2>
		</div>
		<div class="card-block collapse {% if include.view == "fonts" %}in{% endif %}" id="collapseFonts">
			<ul class="bullet">
				<li><a href="/brand-assets/fonts#main-font">Main font</a></li>
				<li><a href="/brand-assets/fonts#product-name-font">Product name font</a></li>
			</ul>
		</div>
	</div>
</aside>