<aside class="docs-aside">
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt="">-->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseGettingStarted" data-toggle="collapse" aria-expanded="false">Getting Started</h2>
		</div>
		<div class="card-block collapse {% if include.view == "idea" %}in{% endif %}" id="collapseGettingStarted">
			<ul class="bullet">
				<li><a href="#idea">The Idea</a></li>
				<li><a href="#scaffolding">Scaffolding</a></li>
				<li><a href="#doctype">Doctype</a></li>
				<li><a href="#head">Head</a></li>
			</ul>
		</div>
	</div>
</aside>