<header>

  <div class="sup-nav" id="topNav">
    <div class="container">
      <div class="row">
        <ul class="sup-nav-shortcuts">
          <li><a href="#navigation" title="Go to menu">Go to menu</a></li>
          <li><a href="#content" accesskey="s" title="Go to content">Go to content</a></li>
        </ul>
      </div>
    </div>
  </div>

  <nav class="navbar" role="navigation">
    <div class="container">
      <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar">
        &#9776;
        <span class="sr-only">Unfold Menu</span>
      </button>
      <a class="navbar-brand" href="http://design.manitou.com/">
        <img src="/assets/im/logo/logo@2x.png" alt="Logo Manitou">
      </a>
      <div class="collapse navbar-toggleable-sm" id="navbar" style="height: 0px;">
        <ul class="nav navbar-nav navbar-right">

          <li class="nav-item dropdown">
            <a href="/getting-started" title="" class="nav-link">Getting Started</a>
          </li>

          <li class="nav-item dropdown">
            <a data-target="#" href="/brand-assets" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brand Assets</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li>
                <a class="dropdown-item" href="/brand-assets/colours">Colours</a>
              </li>
              <li>
                <a class="dropdown-item" href="/brand-assets/logos">Logos</a>
              </li>
              <li>
                <a class="dropdown-item" href="/brand-assets/fonts">Fonts</a>
              </li>
              <li>
                <a class="dropdown-item" href="/brand-assets/video">Video</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a data-target="#" href="/web" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li>
                <a class="dropdown-item" href="/web/layout">Layout</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/typography">Typography</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/buttons">Buttons</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/forms">Forms</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/navigations">Navigations</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/messaging">Messaging</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/blocks">Cards & Blocks</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/illustrations">Illustrations</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/interactive-components">Interactive components</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a data-target="#" href="/api" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">API</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li>
                <a class="dropdown-item" href="/api#why">Why ?</a>
              </li>
              <li>
                <a class="dropdown-item" href="/api#prismic">Prismic.io</a>
              </li>
              <li>
                <a class="dropdown-item" href="/api#data">Data</a>
              </li>
              <li>
                <a class="dropdown-item" href="/api#key">API Key</a>
              </li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
