<header>
  <div class="sup-nav" id="topNav">
    <div class="container">
      <div class="row">
        <ul class="sup-nav-shortcuts">
          <li><a href="#navigation" title="Go to menu">Aller au menu</a></li>
          <li><a href="#content" accesskey="s" title="Go to content">Aller au contenu</a></li>
          <li><a href="#search" accesskey="4" title="Go to search">Aller à la recherche</a></li>
        </ul>
      </div>
    </div>
  </div>

  <nav class="navbar" role="navigation">
    <div class="container">
      <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar">
        &#9776;
        <span class="sr-only">Déplier Menu</span>
      </button>
      <a class="navbar-brand" href="http://design.manitou.com/">
        <img src="/assets/im/logo/logo@2x.png" alt="Logo Manitou">
      </a>
      <div class="collapse navbar-toggleable-sm" id="navbar" style="height: 0px;">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a href="http://design.manitou.com/" class="nav-link" title="">Accueil</a>
          </li>
          <li class="nav-item dropdown">
            <a data-target="#" href="/print" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Print</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li>
                <a class="dropdown-item" href="/print">Getting Started</a>
              </li>
              <li>
                <a class="dropdown-item" href="/print/logos">Logos</a>
              </li>
              <li>
                <a class="dropdown-item" href="/print/graphic-elements">Graphic Elements</a>
              </li>
              <li>
                <a class="dropdown-item" href="/print/merchandising">Merchandising</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a data-target="#" href="/web" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Web</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li>
                <a class="dropdown-item" href="/web">Getting Started</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/layout">Layout</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/typography">Typography</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/colors">Colors</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/buttons">Buttons</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/forms">Forms</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/navigations">Navigations</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/messaging">Messaging</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/blocks">Cards & Blocks</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/illustrations">Illustrations</a>
              </li>
              <li>
                <a class="dropdown-item" href="/web/interactive-components">Interactive components</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="http://design.manitou.com/api" class="nav-link" title="">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>





