<aside class="docs-aside">
	<div class="card card-nav">
		<div class="card-block card-block-title">
			<h2 class="card-title dropdown-toggle" data-target="#category1" data-toggle="collapse" aria-expanded="false">Logos</h2>
		</div>
		<div class="card-block collapse in" id="category1">
			<ul>
				<li><a href="#">Sub-category</a></li>
				<li><a href="#">Sub-category</a></li>
				<li><a href="#">Sub-category</a></li>
				<li><a href="#">Sub-category</a></li>
			</ul>
		</div>
	</div>
	<div class="card card-nav">
		<div class="card-block card-block-title">
			<h2 class="card-title dropdown-toggle" data-target="#category2" data-toggle="collapse" aria-expanded="false">Graphic Elements</h2>
		</div>
		<div class="card-block collapse" id="category2">
			<ul>
				<li><a href="#">Sub-category</a></li>
			</ul>
		</div>
	</div>
	<div class="card card-nav">
		<div class="card-block card-block-title">
			<h2 class="card-title dropdown-toggle" data-target="#category3" data-toggle="collapse" aria-expanded="false">Merchandising</h2>
		</div>
		<div class="card-block collapse" id="category3">
			<ul>
				<li><a href="#">Sub-category</a></li>
			</ul>
		</div>
	</div>
</aside>
