<aside class="aside-docs">
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenulayout" data-toggle="collapse" aria-expanded="false">Layout</h2>
		</div>
		<div class="card-block collapse {% if include.view == "layout" %}in{% endif %}" id="collapseMenulayout">
			<ul class="bullet">
				<li><a href="/web/layout/#header">Header</a></li>
				<li><a href="/web/layout/#footer">Footer</a></li>
				<li><a href="/web/layout/#banner">Banner</a></li>
				<li><a href="/web/layout/#grid-basic">Basic grid</a></li>
				<li><a href="/web/layout/#grid-navigation">Navigation grid</a></li>
				<li><a href="/web/layout/#grid-split">Split grid</a></li>
				<li><a href="/web/layout/#grid-features">Features grid</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenuTypography" data-toggle="collapse" aria-expanded="false">Typography</h2>
		</div>
		<div class="card-block collapse {% if include.view == "typography" %}in{% endif %}" id="collapseMenuTypography">
			<ul class="bullet">
				<li><a href="/web/typography#headings">Headings</a></li>
				<li><a href="/web/typography#inline-elements">Inline elements</a></li>
				<li><a href="/web/typography#lists">Lists</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenuColors" data-toggle="collapse" aria-expanded="false">Colors</h2>
		</div>
		<div class="card-block collapse {% if include.view == "colors" %}in{% endif %}" id="collapseMenuColors">
			<ul class="bullet">
				<li><a href="/web/colors#main-colors">Main colors</a></li>
				<li><a href="/web/colors#gray-variations">Gray variations</a></li>
				<li><a href="/web/colors#gradients">Gradients</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenuButtons" data-toggle="collapse" aria-expanded="false">Buttons</h2>
		</div>
		<div class="card-block collapse {% if include.view == "buttons" %}in{% endif %}" id="collapseMenuButtons">
			<ul class="bullet">
				<li><a href="/web/buttons#basic-buttons">Basic buttons</a></li>
				<li><a href="/web/buttons#large-buttons">Large buttons</a></li>
				<li><a href="/web/buttons#dropdown-button">Dropdown button</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenuForms" data-toggle="collapse" aria-expanded="false">Forms</h2>
		</div>
		<div class="card-block collapse {% if include.view == "forms" %}in{% endif %}" id="collapseMenuForms">
			<ul class="bullet">
				<li><a href="/web/forms#basic-input">Basic input</a></li>
				<li><a href="/web/forms#textarea">Textarea</a></li>
				<li><a href="/web/forms#checkboxes-radio">Checkboxes & radio</a></li>
				<li><a href="/web/forms#select">Select</a></li>
				<li><a href="/web/forms#input-range">Input range (slider)</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenuNavigations" data-toggle="collapse" aria-expanded="false">Navigations</h2>
		</div>
		<div class="card-block collapse {% if include.view == "navigations" %}in{% endif %}" id="collapseMenuNavigations">
			<ul class="bullet">
				<li><a href="/web/navigations/#nav-dropdown">Nav dropdown</a></li>
				<li><a href="/web/navigations/#nav-tabs">Nav tabs</a></li>
				<li><a href="/web/navigations/#footer-menu">Footer menu</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenuMessaging" data-toggle="collapse" aria-expanded="false">Messaging</h2>
		</div>
		<div class="card-block collapse {% if include.view == "messaging" %}in{% endif %}" id="collapseMenuMessaging">
			<ul class="bullet">
				<li><a href="/web/messaging#alert">Alert</a></li>
				<li><a href="/web/messaging#availability-message">availability-message</a></li>
				<li><a href="/web/messaging#footer-cookie">Footer cookie</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenuBlocks" data-toggle="collapse" aria-expanded="false">Cards & blocks</h2>
		</div>
		<div class="card-block collapse {% if include.view == "blocks" %}in{% endif %}" id="collapseMenuBlocks">
			<ul class="bullet">
				<li><a href="/web/blocks#horizontal-rule">Horizontal rule</a></li>
				<li><a href="/web/blocks#table">Table</a></li>
				<li><a href="/web/blocks#product-teaser">Product teaser</a></li>
				<li><a href="/web/blocks#filter-block">Block filter</a></li>
				<li><a href="/web/blocks#home-news">Home news</a></li>
				<li><a href="/web/blocks#feature-card">Feature card</a></li>
				<li><a href="/web/blocks#basic-block">Block basic</a></li>
				<li><a href="/web/blocks#service-block">Block service</a></li>
				<li><a href="/web/blocks#category-block">Block category</a></li>
				<li><a href="/web/blocks#application-block">Block application</a></li>
				<li><a href="/web/blocks#blog-block">Block blog</a></li>
				<li><a href="/web/blocks#event-block">Block event</a></li>
				<li><a href="/web/blocks#event-aside">Event aside</a></li>
				<li><a href="/web/blocks#twitter-flux">Twitter flux</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenuIllustrations" data-toggle="collapse" aria-expanded="false">Illustrations</h2>
		</div>
		<div class="card-block collapse {% if include.view == "illustrations" %}in{% endif %}" id="collapseMenuIllustrations">
			<ul class="bullet">
				<li><a href="/web/illustrations#image-responsive">Image-responsive</a></li>
				<li><a href="/web/illustrations#video">Video</a></li>
			</ul>
		</div>
	</div>
	<div class="card-nav">
		<!-- <img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt=""> -->
		<div class="card-header">
			<h2 class="dropdown-toggle" data-target="#collapseMenuInteractiveComponents" data-toggle="collapse" aria-expanded="false">Interactive components</h2>
		</div>
		<div class="card-block collapse {% if include.view == "interactive-components" %}in{% endif %}" id="collapseMenuInteractiveComponents">
			<ul class="bullet">
				<li><a href="/web/interactive-components#carousel">Carousel</a></li>
				<li><a href="/web/interactive-components#pagination">Pagination</a></li>
				<li><a href="/web/interactive-components#breadcrumb">Breadcrumb</a></li>
			</ul>
		</div>
	</div>
</aside>
