<a href="#">
	<article class="product-teaser">
		<div class="row">
			<div class="col-picture">
				<img src="http://farm9.staticflickr.com/8494/8265694339_342e6106fe_z.jpg" alt="TODO">
			</div>
			<div class="col-description">
				<h2>MLT 625 75 H</h2>
				<div class="row">
					<div class="col-description-1">
						<strong>Length</strong><strong> : </strong>3.9 m<br>
						<strong>Width</strong><strong> : </strong>1.82 m<br>
						<strong>Height</strong><strong> : </strong>2.17 m<br>
						<strong>Weight</strong><strong> : </strong>4932 kg<br>
					</div>
					<div class="col-description-2">
						<strong>Engine</strong><strong> : </strong>Kubota<br>
						<strong>Power</strong><strong> : </strong>75 cv<br>
						<strong>Lifting capacity</strong><strong> : </strong>2500 kg<br>
						<strong>Lifting height</strong><strong> : </strong>5.9 m<br>
					</div>
					<div class="col-xs-12">
					</div>
				</div>
			</div>
			<div class="col-arrow">
				<i class="fa fa-angle-right"></i>
			</div>
		</div>
	</article>
</a>
