<ul class="nav nav-tabs hidden-xs" role="tablist">
	<li class="nav-item">
		<a href="#" class="nav-link active" role="tab">Photos</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link" role="tab">3D</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link" role="tab">Technical data sheet</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link" role="tab">Attachments</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link" role="tab">Benefits</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link" role="tab">Services</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link" title="" role="tab" target="_blank">360</a>
	</li>
</ul>
