// Manitou Product Font
// -------------------------

@font-face {
    font-family: 'Manitou Product';
    font-style: normal;
    font-weight: 400;
    src: local('Manitou Product'),
         url('/assets/font/Manitou-product-font.eot') format('embedded-opentype'),
         url('/assets/font/Manitou-product-font.ttf') format('truetype'),
         url('/assets/font/Manitou-product-font.woff') format('woff'),
         url('/assets/font/Manitou-product-font.svg#MANITOU') format('svg');
}
