// Manitou Product Font
// -------------------------

@font-face {
    font-family: 'Manitou Product';
    font-style: normal;
    font-weight: 400;
    src: local('Manitou Product'),
         url('/assets/fonts/Manitou-ExtraBold.eot') format('embedded-opentype'),
         url('/assets/fonts/Manitou-ExtraBold.woff') format('woff'),
         url('/assets/fonts/Manitou-ExtraBold.otf') format('truetype'),
}
