// Navbar
// --------------------------

.navbar {
	border: 0;
	border-top: 1px solid #c20017;
	border-bottom: 1px solid #a50013;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
	@include gradient-vertical(#e2001a,#c20016,0%,100%);
	.container {
		@media (max-width: breakpoint-max(sm)) {
			@include make-container(0);
		}
	}
	.navbar-toggler {
		//float: left;
		padding: 0 calc-rem(15px);
		margin: 0;
		line-height: calc-rem(50px);
		border: 0;
		border-radius: 0;
		z-index: 2;
		position: relative;
		color: #fff;
		&:hover,
		&:focus {
			@extend .navbar-default-link-hover;
			outline: 0;
		}
	}
	.navbar-brand {
		padding-top: calc-rem(10px);
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		text-align: center;
		@media (min-width: breakpoint-max(sm)) {
			position: inherit;
			width: calc-rem(160px);
			text-align: left;
		}
		> img {
			display: inline;
			width: calc-rem(160px);
		}
	}
	.navbar-default-link-hover {
		color: #fff;
		@include gradient-vertical(#d10018,#b40015,0,100%);
	}
	.navbar-nav {
		@include clearfix();
		float: right;
		> li {
			position: relative;
			display: block;
			margin: 0 !important;
			> a {
				color: #fff;
				padding: calc-rem(15px);
				&:hover,
				&:focus {
					@extend .navbar-default-link-hover;
				}
				@media (min-width: breakpoint-max(sm)) and (max-width: breakpoint-max(md)) {
					padding: 15px 8px;
					font-size: 12px;
				}

			}
		}
		> .open > a {
			@extend .navbar-default-link-hover;
			&:hover,
			&:focus {
				@extend .navbar-default-link-hover;
			}
		}
	}
	@media (max-width: breakpoint-max(sm)) {
		border-bottom: 0;
		.navbar-xs-link {
			color: $text-color;
			background: $gray-bckg;
			border-bottom: 1px solid $gray-border;
			padding-top: calc-rem(10px);
			padding-bottom: calc-rem(10px);
		}
		.navbar-xs-link-hover {
			color: $text-color;
			background: $gray-bckg-dark;
			border-bottom: 1px solid $gray-border-dark;
		}
		.navbar-nav .open .dropdown-menu {
			padding-top: 0;
			padding-bottom: 0;
			> li > a {
				@extend .navbar-xs-link;
				background: $gray-bckg-light;
				&:hover,
				&:focus {
					@extend .navbar-xs-link-hover;
				}
			}
		}
		.collapse,
		.collapsing {
			ul {
				margin: 0;
				border: 0;
				float: none;
				position: relative;
				li {
					float: none;
					a {
						font-weight: 700;
						@extend .navbar-xs-link;
						&:after {
							float: right;
							margin-top: calc-rem(10px);
						}
						&:hover,
						&:focus,
						&.navbar-config-link {
							@extend .navbar-xs-link-hover;
						}
					}
				}
				> .open > a {
					@extend .navbar-xs-link-hover;
					&:hover,
					&:focus {
						@extend .navbar-xs-link-hover;
					}
				}
				&.dropdown {
					padding-top: 0;
					padding-bottom: 0;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}
