// Colors
// ------------------------

$black: #333;
$red: #e2001a;
$brand-primary: $red;

$gray-bckg : #ededed;
$gray-bckg-dark : #d9d9d9;
$gray-border : #d5d5d5;
$gray-border-light: #f0f0f0;
$gray-border-lighter: #f2f2f2;
$gray-bckg-light : #fcfcfc;
$gray-border-dark : #c3c3c3;

$text-color: #444;
$text-gray: #b2b2b2;
$body-bg: #fafafa;

// Social Colors
// ------------------------

$facebook-color: 	#3b5998;
$twitter-color: 	#00aced;
$google-plus-color:	#dd4b39;
$youtube-color: 	#bb0000;
$linkedin-color: 	#007bb6;
$instagram-color: 	#517fa4;
$pinterest-color: 	#cb2027;
$quora-color: 		#a82400;
$flickr-color: 		#ff0084;
$tumblr-color: 		#32506d;
$vimeo-color: 		#aad450;
$foursquare-color: 	#0072b1;
