<section id="alert">
	<h2>Alert</h2>
	<p>Flash messages inform users of successful or pending actions. A specific background color helps to convey their meaning. To not confuse the users, don't show more than one message at a time.</p>

	<div class="bs-example">

    <div class="alert alert-danger" role="alert">
      <p>Please fill in all of the fields so we can best respond to your query.</p>
    </div>

    <br>

    <div class="alert alert-success" role="alert">
      <p>Thank you. Your query has successfully been sent. We'll be in touch shortly.</p>
    </div>

	</div>

{% highlight html %}
<div class="alert alert-danger" role="alert">
  <p>Please fill in all of the fields so we can best respond to your query.</p>
</div>

<div class="alert alert-success" role="alert">
  <p>Thank you. Your query has successfully been sent. We'll be in touch shortly.</p>
</div>
{% endhighlight %}

</section>
