<section id="aside-vertical-nav">
		<h2>Aside Vertical Nav</h2>
		<p>These blocks can be used as a vertical navigation in a <code>&lt;aside&gt;</code> column.</p>
		<p>Open by default the first one with a <code>.in</code> class in the collapse element to suggest the interaction</p>
		<p>The <code>.dropdown-toggle</code> defines the element to click to collapse the block. Use its <code>data-target</code> to precise wich block must be collapse by refering its <code>id</code>.</p>

		<div class="bs-example">
			<div class="row">
				<aside>
					<div class="card card-info">
						<img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt="">
						<div class="card-block card-block-title">
							<h2 class="card-title dropdown-toggle" data-target="#collapseMenugAriculture" data-toggle="collapse" aria-expanded="false">Agriculture</h2>
						</div>
						<div class="card-block collapse in" id="collapseMenugAriculture">
							<ul>
								<li><a href="#"> Cras justo odio</a></li>
								<li><a href="#"> Dapibus ac facilisis in</a></li>
								<li><a href="#"> Vestibulum at eros</a></li>
							</ul>
						</div>
					</div>
					<div class="card card-info">
						<img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt="">
						<div class="card-block card-block-title">
							<h2 class="card-title dropdown-toggle" data-target="#collapseMenugAriculture2" data-toggle="collapse" aria-expanded="false">Agriculture</h2>
						</div>
						<div class="card-block collapse" id="collapseMenugAriculture2">
							<ul>
								<li><a href="#"> Cras justo odio</a></li>
								<li><a href="#"> Dapibus ac facilisis in</a></li>
								<li><a href="#"> Vestibulum at eros</a></li>
							</ul>
						</div>
					</div>
				</aside>
			</div>
		</div>

{% highlight html %}
<div class="card card-info">
	<img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt="">
	<div class="card-block card-block-title">
		<h2 class="card-title dropdown-toggle" data-target="#collapseMenugAriculture" data-toggle="collapse" aria-expanded="false">Agriculture</h2>
	</div>
	<div class="card-block collapse in" id="collapseMenugAriculture">
		<ul>
			<li><a href="#"> Cras justo odio</a></li>
			<li><a href="#"> Dapibus ac facilisis in</a></li>
			<li><a href="#"> Vestibulum at eros</a></li>
		</ul>
	</div>
</div>
<div class="card card-info">
	<img class="card-img-top" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg" alt="">
	<div class="card-block card-block-title">
		<h2 class="card-title dropdown-toggle" data-target="#collapseMenugAriculture2" data-toggle="collapse" aria-expanded="false">Agriculture</h2>
	</div>
	<div class="card-block collapse" id="collapseMenugAriculture2">
		<ul>
			<li><a href="#"> Cras justo odio</a></li>
			<li><a href="#"> Dapibus ac facilisis in</a></li>
			<li><a href="#"> Vestibulum at eros</a></li>
		</ul>
	</div>
</div>
{% endhighlight %}

</section>
