<section id="availability-message">
	<h2>Availability message</h2>
	<p></p>

	<div class="bs-example">

  <div class="row">
    <div class="col-xs-6">

      <div class="alert alert-info" role="alert">
        <h3>
          <i class="fa fa-exclamation-circle"></i>
          <span>Machine not available</span>
        </h3>
        <p>Would you like to be notified when this machine is available in your country?</p>
        <br>
        <a target="_blank" class="btn btn-info btn-block" title="">
          <i class="fa fa-envelope"></i>
          <span>Subscribe to Newsletter</span>
        </a>
      </div>

    </div>
    <div class="col-xs-6">

      <div class="alert alert-info" role="alert">
        <h3>
          <i class="fa fa-exclamation-circle"></i>
          <span>Service not currently available</span>
        </h3>
        <p>Would you like to be notified when this machine is available in your country?</p>
        <br>
        <a target="_blank" class="btn btn-info btn-block" title="">
          <i class="fa fa-envelope"></i>
          <span>Subscribe to Newsletter</span>
        </a>
      </div>

    </div>
  </div>


	</div>

{% highlight html %}
<div class="alert alert-info" role="alert">
  <h3>
    <i class="fa fa-exclamation-circle"></i>
    <span>Machine not available</span>
  </h3>
  <p>Would you like to be notified when this machine is available in your country?</p>
  <br>
  <a target="_blank" class="btn btn-info btn-block" title="">
    <i class="fa fa-envelope"></i>
    <span>Subscribe to Newsletter</span>
  </a>
</div>
{% endhighlight %}

</section>
