<section id="banner">
	<h2>Banner</h2>
	<p>The banner is usually used at the end of the view, right before the footer. It is made of a simple catchphrase and a call-to-action, quickly introducing an external view or a product.</p>

	<div class="bs-example">

		<div class="banner">
			<div class="container">
				<div class="banner-text">Check out our used equipment ads</div>
				<div class="banner-cta">
					<a href="#" title="" class="btn btn-primary btn-lg btn-block">
						<i class="fa fa-tag"></i>
						<span>Find Used Equipment</span>
					</a>
				</div>
			</div>
		</div>

	</div>

{% highlight html %}
<div class="banner">
	<div class="container">
		<div class="banner-text">Check out our used equipment ads</div>
		<div class="banner-cta">
			<a href="#" title="" class="btn btn-primary btn-lg btn-block">
				<i class="fa fa-tag"></i>
				<span>Find Used Equipment</span>
			</a>
		</div>
	</div>
</div>
{% endhighlight %}

</section>
