<section id="basic-buttons">
	<h2>Default buttons : primary, default, info</h2>
	<p>The first class of all buttons is <code>.btn</code>. It gives the basic design that brings visual consistency accross the website.</p>
	<p>By default, buttons are blocks that fit 100% of their container. There is then 2 manners to manage their width :
	<ul>
		<li>inserting the button inside a grid, so it should fit all its column's width ;</li>
		<li>adding a particular class that specifies a proper <code>width</code> property.</li>
	</ul>
	 </p>
	<p>The different colors show the hierarchy between the buttons as well as their function. Choose among the given classes regarding the role of your button.</p>

	<div class="bs-example">

		<a href="#" class="btn btn-primary" title="">
			<i class="fa fa-check"></i>
			<span>Button primary</span>
		</a>

		<br>

		<a href="#" class="btn btn-default" title="">
			<i class="fa fa-check"></i>
			<span>Button default</span>
		</a>

		<br>

		<a href="#" class="btn btn-info" title="">
			<i class="fa fa-check"></i>
			<span>Button info</span>
		</a>


	</div>

{% highlight html %}
<a href="#" class="btn btn-primary" title="">
	<i class="fa fa-check"></i>
	<span>Button</span>
</a>

<a href="#" class="btn btn-default" title="">
	<i class="fa fa-check"></i>
	<span>Button</span>
</a>

<a href="#" class="btn btn-info" title="">
	<i class="fa fa-check"></i>
	<span>Button</span>
</a>

{% endhighlight %}

</section>
