<section id="basic-buttons">
	<h2>Default buttons : primary, default, info</h2>
	<p>The different colors show the hierarchy between the buttons and their function as weel. Use on the given class regarding the role of your button.</p>

	<div class="bs-example">

		<a href="#" class="btn btn-block btn-primary" title="">
			<i class="fa fa-check"></i>
			<span>Button</span>
		</a>

		<br>

		<a href="#" class="btn btn-block btn-default" title="">
			<i class="fa fa-check"></i>
			<span>Button</span>
		</a>

		<br>

		<a href="#" class="btn btn-block btn-info" title="">
			<i class="fa fa-check"></i>
			<span>Button</span>
		</a>


	</div>

{% highlight html %}
<a href="#" class="btn btn-block btn-primary" title="">
	<i class="fa fa-check"></i>
	<span>Button</span>
</a>

<a href="#" class="btn btn-block btn-default" title="">
	<i class="fa fa-check"></i>
	<span>Button</span>
</a>

<a href="#" class="btn btn-block btn-info" title="">
	<i class="fa fa-check"></i>
	<span>Button</span>
</a>

{% endhighlight %}

</section>
