<section id="blog-block">
	<h2>Blog block</h2>
	<p>Based on a <code>.bloc</code>, the blog block introduces a blog post with a picture or a video, a title, some description text, some metadata and to call-to-action binded to the article.</p>

	<div class="bs-example">

		<article class="bloc">

			<img src="http://41.media.tumblr.com/c27091e7dc2ea9acd515015a88c8ba90/tumblr_nuar3nmKFz1s6o9deo1_1280.jpg" alt="" class="img-responsive img-responsive-fluid">

			<hr>

			<h2>Poutou Manutention ouvre ses portes pour son 45e anniversaire</h2>
			<p>Partenaire manutention des entreprises limousines depuis 1970, Poutou Manutention est heureux de vous accueillir le jeudi 17 septembre dans le cadre des portes ouvertes anniversaires.</p>
			<p>De 10h00 à 21h00, venez découvrir l’ensemble de la gamme Manitou.</p>
			<p>Cette journée anniversaire, étape de l’<b>Actis Tour 2015</b>, est une occasion pour nous de vous faire découvrir notre entreprise et de rassembler l’ensemble des ses acteurs : clients mais aussi fournisseurs, partenaires institutionnels et élus locaux.</p>
			<ul>
				<li>Venez partager un moment convivial autour d’un buffet (midi et soir)<br></li>
				<li>Tentez votre chance et gagnez des heures de location et des chèques entretien</li>
				<li>Découvrez les dernières innovations lors de démonstrations<br></li>
				<li>Échangez avec nos spécialistes industrie, bâtiment, agriculture ou environnement.<br></li>
			</ul>
			<p>Rendez-vous le jeudi 17 septembre à partir de 10h au 28 Avenue du Ponteix, Zone Sud, Limoges.</p>
			<p>Renseignements et inscriptions sur <a href="http://www.poutou.fr/45ans">www.poutou.fr/45ans</a><br></p>
			<hr>

			<p>
				<a target="_blank" class="btn btn-primary" title="View this postblog on the Manitou Blog" href="#">
					<i class="fa fa-arrow-right"></i>
					<span>View this post</span>
				</a>
			</p>

			<ul class="tags">
				<li>
					<span>fr</span>
				</li>
				<li>
					<span>France</span>
				</li>
				<li>
					<span>Poutou</span>
				</li>
				<li>
					<span>Limoges</span>
				</li>
				<li>
					<span>Manutention</span>
				</li>
				<li>
					<span>Portes Ouvertes</span>
				</li>
				<li>
					<span>Actis Tour</span>
				</li>
				<li>
					<span>Agriculture</span>
				</li>
				<li>
					<span>Construction</span>
				</li>
				<li>
					<span>Industrie</span>
				</li>
				<li>
					<span>Anniversaire</span>
				</li>
			</ul>
			<p class="small">
				<time datetime="2015-09-07 07:50:11 GMT" pubdate="">
					<i class="fa fa-clock-o"></i>
					<span>Posted on</span>
					<span>Mon, 07 Sep 2015 07:50:11 GMT</span>

				</time>
				-
				<i class="fa fa-comments"></i>
				<span>1</span>
				<span>Comment(s)</span>
			</p>
		</article>

	</div>

{% highlight html %}
<article class="bloc">
	<img src="http://41.media.tumblr.com/c27091e7dc2ea9acd515015a88c8ba90/tumblr_nuar3nmKFz1s6o9deo1_1280.jpg" alt="" class="img-responsive img-responsive-fluid">

	<hr>

	<h2>Poutou Manutention ouvre ses portes pour son 45e anniversaire</h2>
	<p>Partenaire manutention des entreprises limousines depuis 1970, Poutou Manutention est heureux de vous accueillir le jeudi 17 septembre dans le cadre des portes ouvertes anniversaires.</p>
	<p>De 10h00 à 21h00, venez découvrir l’ensemble de la gamme Manitou.</p>
	<p>Cette journée anniversaire, étape de l’<b>Actis Tour 2015</b>, est une occasion pour nous de vous faire découvrir notre entreprise et de rassembler l’ensemble des ses acteurs : clients mais aussi fournisseurs, partenaires institutionnels et élus locaux.</p>
	<ul>
		<li>Venez partager un moment convivial autour d’un buffet (midi et soir)<br></li>
		<li>Tentez votre chance et gagnez des heures de location et des chèques entretien</li>
		<li>Découvrez les dernières innovations lors de démonstrations<br></li>
		<li>Échangez avec nos spécialistes industrie, bâtiment, agriculture ou environnement.<br></li>
	</ul>
	<p>Rendez-vous le jeudi 17 septembre à partir de 10h au 28 Avenue du Ponteix, Zone Sud, Limoges.</p>
	<p>Renseignements et inscriptions sur <a href="http://www.poutou.fr/45ans">www.poutou.fr/45ans</a><br></p>
	<hr>

	<p>
		<a target="_blank" class="btn btn-primary" title="View this postblog on the Manitou Blog" href="#">
			<i class="fa fa-arrow-right"></i>
			<span>View this post</span>
		</a>
	</p>

	<ul class="tags">
		<li>
			<span>fr</span>
		</li>
		<li>
			<span>France</span>
		</li>
		<li>
			<span>Poutou</span>
		</li>
		<li>
			<span>Limoges</span>
		</li>
		<li>
			<span>Manutention</span>
		</li>
		<li>
			<span>Portes Ouvertes</span>
		</li>
		<li>
			<span>Actis Tour</span>
		</li>
		<li>
			<span>Agriculture</span>
		</li>
		<li>
			<span>Construction</span>
		</li>
		<li>
			<span>Industrie</span>
		</li>
		<li>
			<span>Anniversaire</span>
		</li>
	</ul>
	<p class="small">
		<time datetime="2015-09-07 07:50:11 GMT" pubdate="">
			<i class="fa fa-clock-o"></i>
			<span>Posted on</span>
			<span>Mon, 07 Sep 2015 07:50:11 GMT</span>

		</time>
		-
		<i class="fa fa-comments"></i>
		<span>1</span>
		<span>Comment(s)</span>
	</p>
</article>
{% endhighlight %}

	<br>

	<div class="bs-example">

		<article class="bloc">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="250" height="141" id="youtube_iframe" src="https://www.youtube.com/embed/_zOuhASuo4A?feature=oembed&amp;enablejsapi=1&amp;origin=http://safe.txmblr.com&amp;wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
            </div>

            <hr>

            <h2>Ultimate Cladding Solution</h2>
            <p>Discover our latest innovation for professional cladders : <b>MRT 3255 + Platform + Winch on crane</b><i> (aka “The cladding platform”)</i>.</p>
            <p>Our client came to us with a specific need : being able to clad up to 32 m. 250 kg insulation panels (7 m. long). After study in our Taylored Solutions department, we came back to him with a complete solution. It also avoids the use of one platform and helps our client to save up a lot of money. Based on his latest job quotations, he will reimboursed his investment before the end of the year.</p>
            <hr>
            <p>
                <a target="_blank" class="btn btn-primary" title="View this postblog on the Manitou Blog" href="#">
                    <i class="fa fa-arrow-right"></i>
                    <span>View this post</span>
                </a>
                <a target="_blank" class="btn btn-default" title="Comment this postblog on the Manitou Blog" href="#">
                    <i class="fa fa-comment"></i>
                    <span>Comment this post</span>
                </a>
            </p>

            <ul class="tags">
                <li>
                    <span>en</span>
                </li>
                <li>
                    <span>Worldwide</span>
                </li>
                <li>
                    <span>Cladding</span>
                </li>
                <li>
                    <span>Cladder</span>
                </li>
                <li>
                    <span>MRT</span>
                </li>
                <li>
                    <span>Manitou</span>
                </li>
                <li>
                    <span>Construction</span>
                </li>
                <li>
                    <span>Bardage</span>
                </li>
                <li>
                    <span>Bardeur</span>
                </li>

            </ul>
            <p class="small">
                <time datetime="2015-08-25 16:31:05 GMT" pubdate="">
                    <i class="fa fa-clock-o"></i>
                    <span>Posted on</span>
                    <span>Tue, 25 Aug 2015 16:31:05 GMT</span>

                </time>
                -
                <i class="fa fa-comments"></i>
                <span>0</span>
                <span>Comment(s)</span>
            </p>
        </article>

	</div>

{% highlight html %}
<article class="bloc">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="250" height="141" id="youtube_iframe" src="https://www.youtube.com/embed/_zOuhASuo4A?feature=oembed&amp;enablejsapi=1&amp;origin=http://safe.txmblr.com&amp;wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
    </div>

    <hr>

    <h2>Ultimate Cladding Solution</h2>
    <p>Discover our latest innovation for professional cladders : <b>MRT 3255 + Platform + Winch on crane</b><i> (aka “The cladding platform”)</i>.</p>
    <p>Our client came to us with a specific need : being able to clad up to 32 m. 250 kg insulation panels (7 m. long). After study in our Taylored Solutions department, we came back to him with a complete solution. It also avoids the use of one platform and helps our client to save up a lot of money. Based on his latest job quotations, he will reimboursed his investment before the end of the year.</p>
    <hr>
    <p>
        <a target="_blank" class="btn btn-primary" title="View this postblog on the Manitou Blog" href="#">
            <i class="fa fa-arrow-right"></i>
            <span>View this post</span>
        </a>
        <a target="_blank" class="btn btn-default" title="Comment this postblog on the Manitou Blog" href="#">
            <i class="fa fa-comment"></i>
            <span>Comment this post</span>
        </a>
    </p>

    <ul class="tags">
        <li>
            <span>en</span>
        </li>
        <li>
            <span>Worldwide</span>
        </li>
        <li>
            <span>Cladding</span>
        </li>
        <li>
            <span>Cladder</span>
        </li>
        <li>
            <span>MRT</span>
        </li>
        <li>
            <span>Manitou</span>
        </li>
        <li>
            <span>Construction</span>
        </li>
        <li>
            <span>Bardage</span>
        </li>
        <li>
            <span>Bardeur</span>
        </li>

    </ul>
    <p class="small">
        <time datetime="2015-08-25 16:31:05 GMT" pubdate="">
            <i class="fa fa-clock-o"></i>
            <span>Posted on</span>
            <span>Tue, 25 Aug 2015 16:31:05 GMT</span>

        </time>
        -
        <i class="fa fa-comments"></i>
        <span>0</span>
        <span>Comment(s)</span>
    </p>
</article>
{% endhighlight %}

</section>
