<section id="event-block">
	<h2>Event block</h2>
	<p></p>

	<div class="bs-example">

	    {% include demo/block-event-demo.html %}

	    <br>

	    <article class="bloc">
	        <div class="row">
	            <div class="event-content">
	                <h3 class="border">Pollutec</h3>
	                <p>
	                    <i class="fa fa-calendar-o"></i>
	                    <time datetime="">2015-10-13</time>
	                    -
	                    <time datetime="">2015-10-16</time>
	                </p>
	                <p>
	                    <i class="fa fa-map-marker"></i>
	                    <span class="text-capitalize">france</span>
	                </p>

	                <p>
	                    <i class="fa fa-external-link-square"></i>
	                    <a target="_blank" href="http://www.pollutec.com/">http://www.pollutec.com/</a>
	                </p>
	            </div>
	        </div>
	    </article>

	</div>

{% highlight html %}
<article class="bloc">
    <div class="row">
        <div class="event-picture">
            <img class="img-responsive" alt="Conexpo Latin America" src="http://manitou.cdn.prismic.io/manitou/7874ec89a718afffa58a340ff1b831125a2571c4_conexpo6.jpg">
         </div>
        <div class="event-content">
            <h3 class="border">Conexpo Latin America</h3>
            <p>
                <i class="fa fa-calendar-o"></i>
                <time datetime="">2015-10-21</time>
                -
                <time datetime="">2015-10-24</time>
            </p>
            <p>
                <i class="fa fa-map-marker"></i>
                <span>Espacio Riesco, Avenida El Salto 5000, Santiago, Región Metropolitana</span>
                <span>-</span>
                <span class="text-capitalize">chile</span>
            </p>

            <p>
                <i class="fa fa-cube"></i>
                <span>829COAD</span>
            </p>

            <p>
                <i class="fa fa-external-link-square"></i>
                <a target="_blank" href="http://www.conexpolatinamerica.com/">http://www.conexpolatinamerica.com/</a>
            </p>
        </div>
    </div>
</article>
{% endhighlight %}

</section>
