<section id="service-block">
	<h2>Service block</h2>
	<p></p>

	<div class="bs-example">


<div class="bloc">
	<div class="container-fluid">
		<img alt="" class="img-responsive" src="http://manitou.cdn.prismic.io/manitou/da23f9d2bb501d2d0a056860b5bf3a0979c58d06_capture-decran-2014-07-22-a-16.02.38.png">
		<br>
		<div class="row">
			<div class="col-btn col-btn-margin">
				<div class="btn-group btn-block dropdown">
					<button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-caret-down pull-right"></i>
						<i class="fa fa-download"></i>
						<span>Brochures</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation" class="dropdown-header">English</li>
						<li class="dropdown-item">
							<a href="#">
								<i class="fa fa-eye"></i>
								<span>Preview</span>
							</a>
						</li>
						<li class="dropdown-item">
							<a href="http://www.scribd.com/document_downloads/138455093?extension=pdf&amp;from=embed&amp;source=embed">
								<i class="fa fa-download"></i>
								<span>Download</span>
							</a>
						</li>
						<li role="presentation" class="dropdown-divider"></li>
						<li role="presentation" class="dropdown-header">French</li>
						<li class="dropdown-item">
							<a href="#">
								<i class="fa fa-eye"></i>
								<span>Preview</span>
							</a>
						</li>
						<li class="dropdown-item">
							<a href="http://www.scribd.com/document_downloads/138455091?extension=pdf&amp;from=embed&amp;source=embed">
								<i class="fa fa-download"></i>
								<span>Download</span>
							</a>
						</li>
						<li role="presentation" class="dropdown-divider"></li>
					</ul>
				</div>
			</div>
			<div class="col-btn">
				<a href="#" class="btn btn-block btn-primary" title="Get in touch with a dealer, one of our subsidiaries or even our head office.">
					<i class="fa fa-envelope"></i>
					<span>Contact</span>
				</a>
			</div>
		</div>
	</div>
</div>


	</div>

{% highlight html %}

{% endhighlight %}

</section>
