<section id="basic-block">
	<h2>Basic block</h2>
	<p>There is 2 basic blocks in the Manitou web framework.</p>

	<p>The first one, as shown below, are block with a title and different stacked parts, usually integrated in an <code>&lt;aside&gt;</code>.</p>
	<p>Use a <code>&lt;br&gt;</code> to separate different parts of the block.</p>

	<div class="bs-example">

		<div class="row">

			<div class="col-xs-6">

				{% include demo/aside-block-demo.html %}

			</div>

			<div class="col-xs-6">

				<div class="card">
					<div class="card-header">
						<h2>Newsletter</h2>
					</div>
					<div class="card-block">
						<p>Stay up to date with the latest Manitou news and products, straight to your inbox.</p>

						<a target="_blank" class="btn btn-primary" title="Subscribe to Newsletter" href="#">
							<i class="fa fa-envelope"></i>
							<span>Subscribe to Newsletter</span>
						</a>
	            	</div>
        		</div>

			</div>
		</div>
	</div>

{% highlight html %}
<div class="card card-default">
    <div class="card-header">
        <h2 class="card-title">Filter by:</h2>
    </div>
    <div class="card-block">

		...

		<hr>

		...

		<hr>

		...

		<hr>

		...

	</div>
</div>

<div class="card">
	<div class="card-header">
		<h2>Newsletter</h2>
	</div>
	<div class="card-block">
		<p>Stay up to date with the latest Manitou news and products, straight to your inbox.</p>

		<a target="_blank" class="btn btn-primary" title="Subscribe to Newsletter" href="#">
			<i class="fa fa-envelope"></i>
			<span>Subscribe to Newsletter</span>
		</a>
	</div>
</div>
{% endhighlight %}

<br>

	<p>The second kind of basic blocks are simple frame illustrating the unity of a component.</p>

<div class="bs-example">

	<div class="row">

		<div class="col-xs-6">

			<div class="bloc">
				<p>Example of a <code>.bloc</code>.</p>
			</div>

		</div>

		<div class="col-xs-6">

			<div class="bloc">
		          <h2 class="border">Benefits</h2>
		          <ul>
			          <li>Manitou will manage all the procedures to make your process easier. You no longer need to submit applications to banks and insurance companies. Our experts guarantee a clear tailored solution without hidden costs.</li>
			          <li>You refer to a single contact: your dealer. No need for repeated visits to an insurance company, dealership or the bank.</li>
			          <li>The best of technology through the regular renewal of your equipment and for an accurate budget with no surprises.</li>
		          </ul>
			</div>

		</div>

	</div>


</div>

{% highlight html %}
<div class="bloc">
	...
</div>
{% endhighlight %}

</section>
