<section id="Breadcrumb">
	<h2>Breadcrumb</h2>
	<p>The breadcrumb orientates the users in a complex structure (for instance through the catalog of products and their categories) by indicating the current page's location.</p>

	<div class="bs-example">

        <div class="breadcrumb-block">
          <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li>
                  <a title="Buckets" href="#">Buckets</a>
                </li>
                <li class="active">
                    <span>Concrete Mixing Bucket</span>
                </li>
            </ol>
          </div>
        </div>

	</div>

{% highlight html %}
<div class="breadcrumb-block">
    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li>
                <a title="Buckets" href="#">Buckets</a>
            </li>
            <li class="active">
                <span>Concrete Mixing Bucket</span>
            </li>
        </ol>
    </div>
</div>
{% endhighlight %}

</section>
