<section id="download">

	<h2>Download</h2>

	<p>Before anything, download the Manitou Framework.</p>
	
	<p>
		<a href="https://github.com/manitou-group/manitou/archive/master.zip" download="manitou-framework" title="Download Manitou Framework" class="btn btn-primary btn-lg">
			<i class="fa fa-download"></i>
			<span>Download Manitou Framework</span>
		</a>
	</p>

	<p>Have a look to the <strong><a href="https://github.com/manitou-group/manitou" target="_blank">GitHub Repository</a></strong> to know a bit more about the install.</p>

</section>	