<section id="download">

	<h2>Download</h2>

	<div class="checkbox">
        <input type="checkbox" id="check-conditions" ng-model="conditionsChecked">
        <label for="check-conditions">Before anything, read, understand, accept the <a target="_blank" href="/legal-mentions" title="terms and conditions">conditions</a> and download the Manitou Framework.</label>
    </div>

	<p>
		<a href="https://github.com/manitou-group/manitou/archive/master.zip" download="manitou-framework" title="Download Manitou Framework" class="btn btn-primary btn-lg" ng-class="{disabled: !conditionsChecked}">
			<i class="fa fa-download"></i>
			<span>Download Manitou Framework</span>
		</a>
	</p>

	<p>Have a look to the <strong><a href="https://github.com/manitou-group/manitou" target="_blank">GitHub Repository</a></strong> to know a bit more about the install.</p>

</section>
