<section id="dropdown-button">
	<h2>Dropdown button</h2>
	<p>Dropdown buttons are used to offer a range of similar actions, such as preview or download a brochure according to specific languages.</p>

	<div class="bs-example">

		{% include demo/dropdown-btn-demo.html %}

	</div>

{% highlight html %}

<div class="btn-group btn-block dropdown">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-caret-down pull-right"></i>
		<i class="fa fa-download"></i>
		<span>Brochures</span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li role="presentation" class="dropdown-header">English</li>
		<li class="dropdown-item">
			<a href="#">
				<i class="fa fa-eye"></i>
				<span>Preview</span>
			</a>
		</li>
		<li class="dropdown-item">
			<a href="http://www.scribd.com/document_downloads/138455093?extension=pdf&amp;from=embed&amp;source=embed">
				<i class="fa fa-download"></i>
				<span>Download</span>
			</a>
		</li>
		<li role="presentation" class="dropdown-divider"></li>
		<li role="presentation" class="dropdown-header">French</li>
		<li class="dropdown-item">
			<a href="#">
				<i class="fa fa-eye"></i>
				<span>Preview</span>
			</a>
		</li>
		<li class="dropdown-item">
			<a href="http://www.scribd.com/document_downloads/138455091?extension=pdf&amp;from=embed&amp;source=embed">
				<i class="fa fa-download"></i>
				<span>Download</span>
			</a>
		</li>
		...
		<li role="presentation" class="dropdown-divider"></li>
	</ul>
</div>
{% endhighlight %}

</section>
