<section id="footer-cookie">
	<h2>Footer cookie</h2>
	<p>There is a specific and mandatory message explaining the approval of the use of cookies in the websites.</p>

	<div class="bs-example">

		<footer>
			<div class="footer-cookie">
				<div class="container">
					<button type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true">×</span></button>
					<p><span>Our site uses cookies to remember your preferences and optimise your surfing experience. By closing this message or continuing on into the site, you accept our usage of cookies.</span> <a href="#">Find out more.</a></p>
				</div>
			</div>
		</footer>

	</div>

{% highlight html %}
<footer>
	<div class="footer-cookie">
		<div class="container">
			<button type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true">×</span></button>
			<p><span>Our site uses cookies to remember your preferences and optimise your surfing experience. By closing this message or continuing on into the site, you accept our usage of cookies.</span> <a href="#">Find out more.</a></p>
		</div>
	</div>
</footer>
{% endhighlight %}

</section>
