<section id="footer-menu">
	<h2>Footer menu</h2>
	<p>This navigation system is inserted into the footer and offers 2 different rows. A row is made of 3 parts with a list of their proper links. Another row is made of 1 part composed of its 3 sub-level, illustrated with a picture and a list of the sub-links.</p>
	<p>The footer menu is hidden on mobile.</p>

	<div class="bs-example">

		<footer>
			<div class="footer-menu">
				<div class="container">
					<div class="row">
						<div class="col">
							<h3>Equipment</h3>
							<hr>
							<ul>
								<li>
									<a href="#">Telehandlers</a>
								</li>
								<li>
									<a href="#">Rotating Telehandlers</a>
								</li>
								<li>
									<a href="#">Masted Forklift Trucks</a>
								</li>
								<li>
									<a href="#">Truck Mounted Forklifts</a>
								</li>
								<li>
									<a href="#">Warehousing Equipment</a>
								</li>
								<li>
									<a href="#">Aerial Work Platforms</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h3>Attachments</h3>
							<hr>
							<ul>
								<li>
									<a href="#">Fork Carriages</a>
								</li>
								<li>
									<a href="/#">Buckets</a>
								</li>
								<li>
									<a href="#">Clamps</a>
								</li>
								<li>
									<a href="#">Forks &amp; Grabs</a>
								</li>
								<li>
									<a href="#">Jibs &amp; Cranes</a>
								</li>
								<li>
									<a href="#">Platforms</a>
								</li>
								<li>
									<a href="#">Concrete Skips</a>
								</li>
								<li>
									<a href="#">Sweepers</a>
								</li>
								<li>
									<a href="#">High Pressure Cleaners</a>
								</li>
								<li>
									<a href="#">Winches</a>
								</li>
								<li>
									<a href="#">Mining Attachments</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<h3>Services</h3>
							<hr>
							<ul>
								<li>
									<a href="#">Financing</a>
								</li>
								<li>
									<a href="#">Warranty Extension</a>
								</li>
								<li>
									<a href="#">Maintenance Contract</a>
								</li>
								<li>
									<a href="#">Fleet Management</a>
								</li>
								<li>
									<a href="#">Spare parts</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="container">
							<h3>Markets</h3>
							<hr>
						</div>
						<div class="col">
							<a href="#">
								<img alt="" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg">
								<h4>Agriculture</h4>
							</a>
							<ul>
								<li>
									<a href="#">Cereals</a>
								</li>
								<li>
									<a href="#">Livestock</a>
								</li>
								<li>
									<a href="#">Mixed Farming</a>
								</li>
								<li>
									<a href="#">Market Gardening</a>
								</li>
								<li>
									<a href="#">Plant Nurseries</a>
								</li>
								<li>
									<a href="#">Poultry</a>
								</li>
								<li>
									<a href="#">Equestrian Centres</a>
								</li>
								<li>
									<a href="#">Wineries</a>
								</li>
							</ul>
						</div>
						<div class="col">
							<a href="#">
								<img alt="" src="http://manitou.cdn.prismic.io/manitou/f3f7bfffb72c4f95735fbf76b4c699f961623647_mt_atj_002.jpg">
								<h4>Construction</h4>
							</a>
							<ul>
								<li>
									<a href="#">Masonry</a>
								</li>
								<li>
									<a href="#">Roofing</a>
								</li>
								<li>
									<a href="#">Structures</a>
								</li>
								<li>
									<a href="#">Demolition </a>
								</li>
								<li>
									<a href="#">Cladding</a>
								</li>
								<li>
									<a href="#">Renovation </a>
								</li>
								<li>
									<a href="#">Tunneling </a>
								</li>
							</ul>
						</div>
						<div class="col">
							<a href="#">
								<img alt="" src="http://manitou.cdn.prismic.io/manitou/5941c6b0dd14d7382666933c915657c6a3b6deb3_mi25d_027.jpg">
								<h4>Industries</h4>
							</a>
							<ul>
								<li>
									<a href="#">Mining &amp; Quarries </a>
								</li>
								<li>
									<a href="#">Environment</a>
								</li>
								<li>
									<a href="#">Oil &amp; Gas </a>
								</li>
								<li>
									<a href="#">Logistics &amp; Transport </a>
								</li>
								<li>
									<a href="#">Railway </a>
								</li>
								<li>
									<a href="#">Defence </a>
								</li>
								<li>
									<a href="#">Aerospace </a>
								</li>
								<li>
									<a href="#">Infrastructure Maintenance</a>
								</li>
								<li>
									<a href="#">Warehousing </a>
								</li>
								<li>
									<a href="#">Printing Companies &amp; Paper Mills </a>
								</li>
								<li>
									<a href="#">Ports</a>
								</li>
								<li>
									<a href="#">Airports </a>
								</li>
								<li>
									<a href="#">Events </a>
								</li>
								<li>
									<a href="#">Wood</a>
								</li>
								<li>
									<a href="#">Food-Processing</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>

{% highlight html %}
<footer>
	<div class="footer-menu">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3>Equipment</h3>
					<hr>
					<ul>
						<li>
							<a href="#">Telehandlers</a>
						</li>
						<li>
							<a href="#">Rotating Telehandlers</a>
						</li>
						...
					</ul>
				</div>
				<div class="col">
					<h3>Attachments</h3>
					<hr>
					<ul>
						<li>
							<a href="#">Fork Carriages</a>
						</li>
						<li>
							<a href="/#">Buckets</a>
						</li>
						...
					</ul>
				</div>
				<div class="col">
					<h3>Services</h3>
					<hr>
					<ul>
						<li>
							<a href="#">Financing</a>
						</li>
						<li>
							<a href="#">Warranty Extension</a>
						</li>
						...
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<h3>Markets</h3>
					<hr>
				</div>
				<div class="col">
					<a href="#">
						<img alt="" src="http://manitou.cdn.prismic.io/manitou/f4d24f45ecdfe79b9c53ef42df56f91becc9c52a_8265688631_360b6f9eb5_o.jpg">
						<h4>Agriculture</h4>
					</a>
					<ul>
						<li>
							<a href="#">Cereals</a>
						</li>
						<li>
							<a href="#">Livestock</a>
						</li>
						...
					</ul>
				</div>
				<div class="col">
					<a href="#">
						<img alt="" src="http://manitou.cdn.prismic.io/manitou/f3f7bfffb72c4f95735fbf76b4c699f961623647_mt_atj_002.jpg">
						<h4>Construction</h4>
					</a>
					<ul>
						<li>
							<a href="#">Masonry</a>
						</li>
						<li>
							<a href="#">Roofing</a>
						</li>
						...
					</ul>
				</div>
				<div class="col">
					<a href="#">
						<img alt="" src="http://manitou.cdn.prismic.io/manitou/5941c6b0dd14d7382666933c915657c6a3b6deb3_mi25d_027.jpg">
						<h4>Industries</h4>
					</a>
					<ul>
						<li>
							<a href="#">Mining &amp; Quarries </a>
						</li>
						<li>
							<a href="#">Environment</a>
						</li>
						...
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endhighlight %}

</section>
