<section id="footer-cookie">
	<h2>Footer cookie</h2>
	<p></p>

	<div class="bs-example">

		<footer>
			<div class="footer-cookie">
				<div class="container">
					<button type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true">×</span></button>
					<p><span>Notre site utilise des cookies afin d'améliorer vos préférences et d'optimiser votre navigation. En fermant ce message ou en continuant de naviguer sur le site, vous acceptez l'usage de cookies sur le site.</span> <a href="#">En savoir plus.</a></p>
				</div>
			</div>
		</footer>

	</div>

{% highlight html %}
<footer>
	<div class="footer-cookie">
		<div class="container">
			<button type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true">×</span></button>
			<p><span>Notre site utilise des cookies afin d'améliorer vos préférences et d'optimiser votre navigation. En fermant ce message ou en continuant de naviguer sur le site, vous acceptez l'usage de cookies sur le site.</span> <a href="#">En savoir plus.</a></p>
		</div>
	</div>
</footer>
{% endhighlight %}

</section>
