<section id="footer">
	<h2>Footer</h2>
	<p>The basic footer provides a space for the social networks links and a space for 2 specific call-to-action. A second, thinner row introduces links to the legal information and the sitemap.</p>
    <p>For an enhanced footer, you can add a banner (see below), a <code>footer menu</code> (<a href="/web/navigations/#footer-menu">section Navigations</a>) and the <code>footer cookie</code> (<a href="/web/messaging/#footer-cookie">section Messaging</a>).</p>

	<div class="bs-example">

		For an example of the footer, see at the end of the view.

	</div>

{% highlight html %}
<footer>
    <div class="footer-cta-bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/manitou.official" target="_blank" title="'Like' the official Manitou Facebook page and share your photos with other fans.">
                                <i class="fa fa-facebook"></i>
                                <span class="sr-only">Photos and video clips shared by Manitou fans from all over the world.</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/manitou" target="_blank" title="Follow @manitou on Twitter to find out what's hot with our dealers and customers.">
                                <i class="fa fa-twitter"></i>
                                <span class="sr-only">Discover original uses for Manitou equipment and read constantly-updated user and dealer testimonials.</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/photos/manitou-group" target="_blank" title="Have a look at the latest models of Manitou telehandlers, forklifts and aerial work platforms.">
                                <i class="fa fa-flickr"></i>
                                <span class="sr-only">Photos of Manitou machines in action in the field, on farms, building sites and in warehouses and logistics hubs.</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.youtube.com/user/manitouTV" target="_blank" title="Our Youtube channel contains videos of customer testimonials, our latest telehandlers and vehicle technologies.">
                                <i class="fa fa-youtube"></i>
                                <span class="sr-only">Our ManitouTV channel on Youtube is regularly updated with videos of our latest equipment, specific applications and advice on implementation.</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.manitou.com/" target="_blank" title="The latest from Manitou from all around the world. Follow our Tumblr to stay up-to-date on all the latest and don't forget to comment!" class="blog">
                                BLOG
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-button">
                    <a target="_blank" class="btn btn-default btn-lg btn-block" title="Subscribe to Newsletter" href="#">
						<i class="fa fa-envelope"></i>
						<span ng-bind="newsletterCtrl.newsletter.text" class="ng-binding">Subscribe to Newsletter</span>
					</a>
                </div>
                <div class="col-button">
                    <a href="/en/c" title="Find a Manitou dealer - 1,400 dealers located all over the world." class="btn btn-primary btn-lg btn-block">
                        <i class="fa fa-map-marker"></i>
                        <span>Find a dealer</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-legal">
        <ul>
            <li><a href="#" title="Legal information: manitou.com legal notices and terms of use.">Legal information</a>
            </li>
            <li><a href="/en/sm" title="Easy access to the Manitou handling equipment you're after and any other information you may need via our sitemap.">Sitemap</a>
            </li>
        </ul>
    </div>
</footer>
{% endhighlight %}

</section>
