<section id="header">
		<h2>Header</h2>
		<p>The header includes 2 levels of navigation. The first and minor level allows the user to change the website settings. An accessibility navigation is also hidden. The second and major level includes the brand logo and a navigation. To navigate through your website, use simple or dropdown links.</p>

		<div class="bs-example">

			<header>
				<div class="sup-nav" id="topNav">
					<div class="container">
						<div class="row">
							<ul class="sup-nav-group">
								<li class="dropdown" role="menu">
									<a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manitou Group</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="http://www.manitou-group.com/" target="_blank" title="">Manitou Group</a></li>
										<div role="presentation" class="dropdown-divider"></div>
										<li><a class="dropdown-item" href="http://www.gehl.com/" target="_blank" title="">Gehl</a></li>
										<li><a class="dropdown-item" href="http://www.mustangmfg.com/" target="_blank" title="">Mustang</a></li>
										<li><a class="dropdown-item" href="http://www.loc.fr/" target="_blank" title="">Loc</a></li>
										<li><a class="dropdown-item" href="http://www.ceattachments.com/" target="_blank" title="">Edge</a></li>
									</ul>
								</li>
							</ul>
							<ul class="sup-nav-shortcuts">
								<li><a href="#navigation" title="Go to menu">Aller au menu</a></li>
								<li><a href="#content" accesskey="s" title="Go to content">Aller au contenu</a></li>
								<li><a href="#search" accesskey="4" title="Go to search">Aller à la recherche</a></li>
							</ul>
							<ul class="sup-nav-config">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="" aria-haspopup="true" aria-expanded="false">Système Métrique </a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#" title="">Système Métrique</a></li>
										<li><a class="dropdown-item" href="#" title="">Système Impérial</a></li>
									</ul>
								</li>
								<li>
									<a href="#" class="navbar-config-link">France - Français</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<nav class="navbar" role="navigation">
					<div class="container">
						<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar">
							&#9776;
							<span class="sr-only">Déplier Menu</span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="/assets/im/logo/logo@2x.png" alt="Logo Manitou">
						</a>
						<div class="collapse navbar-toggleable-sm" id="navbar" style="height: 0px;">
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item hidden-md-up">
									<a href="#" class="nav-link" title="">Accueil</a>
								</li>
								<li class="nav-item dropdown">
									<a href="#" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Machines </a>
									<ul class="dropdown-menu dropdown-menu-left">
										<li>
											<a class="dropdown-item" href="#">Chariots Télescopiques</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Chariots Télescopiques Rotatifs</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Chariots à Mât</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Chariots Embarqués</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Matériel de Magasinage</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Nacelles Élévatrices</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accessoires </a>
									<ul class="dropdown-menu dropdown-menu-left">
										<li>
											<a class="dropdown-item" href="#">Tabliers Porte-Fourches</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Godets</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Pinces</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Fourches &amp; Grappins</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Potences</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Nacelles</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Bennes à Béton</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Balayeuses</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Nettoyeurs Haute Pression</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Treuils</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Accessoires Miniers</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services </a>
									<ul class="dropdown-menu dropdown-menu-left">
										<li>
											<a class="dropdown-item" href="#">Financement</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Extension de Garantie</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Contrat de Maintenance</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Gestion de Flotte</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">Pièces de Rechange</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link" title="">Contact</a>
								</li>
								<li class="nav-item dropdown hidden-md-up">
									<a href="#" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manitou Group</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="#" target="_blank" title="">Manitou Group</a>
										</li>
										<li role="presentation" class="divider">
										</li>
										<li>
											<a class="dropdown-item" href="#" target="_blank" title="">Gehl</a>
										</li>
										<li>
											<a class="dropdown-item" href="#" target="_blank" title="">Mustang</a>
										</li>
										<li>
											<a class="dropdown-item" href="#" target="_blank" title="">Loc</a>
										</li>
										<li>
											<a class="dropdown-item" href="#" target="_blank" title="">Edge</a>
										</li>
									</ul>
								</li>
								<li class="nav-item hidden-md-up">
									<a href="#" class="nav-link navbar-config-link">France - Français</a>
								</li>
								<li class="nav-item dropdown hidden-md-up">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" title="" aria-haspopup="true" aria-expanded="false">Système Métrique </a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="#" title="">Système Métrique</a>
										</li>
										<li>
											<a class="dropdown-item" href="#" title="">Système Impérial</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>

			</header>
		</div>

{% highlight html %}
<header>
	<div class="sup-nav" id="topNav">
		<div class="container">
			<div class="row">
				<ul class="sup-nav-group">
					<li class="dropdown" role="menu">
						<a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manitou Group</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="http://www.manitou-group.com/" target="_blank" title="">Manitou Group</a></li>
							<div role="presentation" class="dropdown-divider"></div>
							<li><a class="dropdown-item" href="http://www.gehl.com/" target="_blank" title="">Gehl</a></li>
							<li><a class="dropdown-item" href="http://www.mustangmfg.com/" target="_blank" title="">Mustang</a></li>
							<li><a class="dropdown-item" href="http://www.loc.fr/" target="_blank" title="">Loc</a></li>
							<li><a class="dropdown-item" href="http://www.ceattachments.com/" target="_blank" title="">Edge</a></li>
						</ul>
					</li>
				</ul>
				<ul class="sup-nav-shortcuts">
					<li><a href="#navigation" title="Go to menu">Aller au menu</a></li>
					<li><a href="#content" accesskey="s" title="Go to content">Aller au contenu</a></li>
					<li><a href="#search" accesskey="4" title="Go to search">Aller à la recherche</a></li>
				</ul>
				<ul class="sup-nav-config">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="" aria-haspopup="true" aria-expanded="false">Système Métrique </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#" title="">Système Métrique</a></li>
							<li><a class="dropdown-item" href="#" title="">Système Impérial</a></li>
						</ul>
					</li>
					<li>
						<a href="#" class="navbar-config-link">France - Français</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<nav class="navbar" role="navigation">
		<div class="container">
			<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar">
				&#9776;
				<span class="sr-only">Déplier Menu</span>
			</button>
			<a class="navbar-brand" href="#">
				<img src="/assets/im/logo/logo@2x.png" alt="Logo Manitou">
			</a>
			<div class="collapse navbar-toggleable-sm" id="navbar" style="height: 0px;">
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item hidden-md-up">
						<a href="#" class="nav-link" title="">Accueil</a>
					</li>
					<li class="nav-item dropdown">
						<a href="#" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Link 1 </a>
						<ul class="dropdown-menu dropdown-menu-left">
							<li>
								<a class="dropdown-item" href="#">Sublink 1</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Sublink 2</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Sublink 3</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Link 2 </a>
						<ul class="dropdown-menu dropdown-menu-left">
							<li>
								<a class="dropdown-item" href="#">Sublink 1</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Sublink 2</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Sublink 3</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link" title="">Link 3</a>
					</li>
					<li class="nav-item dropdown hidden-md-up">
						<a href="#" title="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manitou Group</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#" target="_blank" title="">Manitou Group</a>
							</li>
							<li role="presentation" class="divider">
							</li>
							<li>
								<a class="dropdown-item" href="#" target="_blank" title="">Gehl</a>
							</li>
							<li>
								<a class="dropdown-item" href="#" target="_blank" title="">Mustang</a>
							</li>
							<li>
								<a class="dropdown-item" href="#" target="_blank" title="">Loc</a>
							</li>
							<li>
								<a class="dropdown-item" href="#" target="_blank" title="">Edge</a>
							</li>
						</ul>
					</li>
					<li class="nav-item hidden-md-up">
						<a href="#" class="nav-link navbar-config-link">France - Français</a>
					</li>
					<li class="nav-item dropdown hidden-md-up">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" title="" aria-haspopup="true" aria-expanded="false">Système Métrique </a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#" title="">Système Métrique</a>
							</li>
							<li>
								<a class="dropdown-item" href="#" title="">Système Impérial</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</header>
{% endhighlight %}

</section>
