<section id="headings">
	<h2>Headings</h2>
	<p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h5&gt;</code>, are available. <code>.h1</code> through <code>.h5</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>
	<p>For SEO reason, use at least one <code>h1</code> on each view.</p>

	<div class="bs-example">

		<h1>Heading 1</h1>
		<br>
		<h2>Heading 2</h2>
		<br>
		<h2 class="border">Heading 2 <code>.border</code></h2>
		<br>
		<h3>Heading 3</h3>
		<br>
		<h3 class="border">Heading 3 <code>.border</code></h3>
		<br>
		<h4>Heading 4</h4>
		<br>
		<h5>Heading 5</h5>
		<br>

	</div>
	{% highlight html %}
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h2 class="border">Heading 2</h2>
<h3>Heading 3</h3>
<h2 class="border">Heading 3</h2>
<h4>Heading 4</h4>
<h5>Heading 5</h5>

	{% endhighlight %}
</section>
