<section id="head">
	<h2>Head</h2>
	<p>For a good SEO and a proper presentation of the website, don't forget to precise metadata and informations in the head of your view.</p>
  <p>Here is a sample of a <code>&lt;head&gt;</code> precising data such as the view title, the encoding system, the different favicon references, the description and keywords of the website, its version, the viewport and the places to insert your stylesheets and specific scripts.</p>

{% highlight html %}
<head>
  <base href="/">
  <title>Manitou website</title>

  <!-- utf8 encoding  -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- social media tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image:src" content="">
  <meta property="og:title" content=""/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:description" content="">

  <link rel="canonical" href="http://www.manitou.com"/>

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/im/logo/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/im/logo/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/im/logo/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/im/logo/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/im/logo/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/im/logo/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/im/logo/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/im/logo/apple-touch-icon-152x152.png">

  <link rel="icon" type="image/png" href="/assets/im/logo/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/assets/im/logo/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/assets/im/logo/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/im/logo/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/im/logo/favicon-32x32.png" sizes="32x32">

  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="mstile-144x144.png">

  <meta name="description" content="Manitou designs, assembles and distributes professional handling equipment around the world."/>
  <meta name="keywords" content="manitou, telehandler, forklift, industrial forklift, masted forklift, aerial platform, handling"/>

  <meta name="mw-version" content="1.0.19"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- seo friendly -->
  <meta name="fragment" content="!">

  <!-- compiled CSS -->
  <link rel="stylesheet" type="text/css" href="assets/mw5-1.0.19.css"/>

    <!--[if lte IE 8]>
    <script>
        document.createElement('ui-gmap-google-map');
        document.createElement('ui-gmap-marker');
        document.createElement('ui-gmap-markers');
        document.createElement('ui-gmap-window');
        document.createElement('ui-gmap-windows');
        document.createElement('header');
        document.createElement('nav');
        document.createElement('menu');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');

    </script>

    <![endif]-->

    <!--[if lte IE 9 ]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" type="text/javascript"></script>
    <script src="//cdn.rawgit.com/intuit/xhr-xdr-adapter/351100b1dc3508994b134b92ec04588953095dfa/src/xhr-xdr-adapter.js" type="text/javascript"></script>
    <![endif]-->

    <!-- compiled JavaScript -->
    <script type="text/javascript" src="assets/mw5-1.0.19.js"></script>

    <!-- GoogleMap -->
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

  </head>
{% endhighlight %}

</section>
