<section id="headband">
	<h2>Headband</h2>
	<p>The <code>headband</code> component highlights the purpose of a website or a page, and generally stresses the main call-to-action to direct the user. The <code>h1</code> title and the <code>btn</code> are deliberately specific to this very component. </p>
  <p>Since the <code>headband</code> is a full-width component, do not use it within a <code>section</code> or any block with a <code>.container</code> behaviour.</p>

	<div class="bs-example">

    <div class="headband">
      <img src="/assets/im/headband-bckg.jpg" class="headband-bkg">
      <div class="headband-content">
        <h1>Web Design Without Question</h1>
        <p class="lg">Since text is the primary and most essential way to convey informations and values to the users, it's important to grant typography a primordial attention. This section stresses the typographic guidelines that should be used on all manitou websites.</p>
        <a href="getting-started" class="btn btn-outline-inverse">Getting Started</a>
        <p class="version">v1.0.0</p>
      </div>
    </div>

	</div>

{% highlight html %}
<div class="headband">
  <img src="/assets/im/headband-bckg.jpg" class="headband-bkg">
  <div class="headband-content">
    <h1>Web Design Without Question</h1>
    <p class="lg">Since text is the primary and most essential way to convey informations and values to the users, it's important to grant typography a primordial attention. This section stresses the typographic guidelines that should be used on all manitou websites.</p>
    <a href="getting-started" class="btn btn-outline-inverse">Getting Started</a>
    <p class="version">v1.0.0</p>
  </div>
</div>
{% endhighlight %}

</section>
