<section id="home-news">
	<h2>Home news</h2>
	<p>This component consists of a row of 4 cards that includes a picture and a title.</p>
	<p>These cards are actually bigger than the ones we can see below since they must be displayed in a full-width container, usually in the homepage.</p>
	<p>This row of 4 cards becomes 2 rows of 2 cards on tablet display. On mobile, the 4 cards are stacked.</p>
	<p>If your link is an external one, don't forget to add the <code>target="_blank"</code> attribute on the <code>a</code> tag.</p>

	<div class="bs-example">

		<section class="home-news">
		    <div class="container">
		        <div class="row">
		        	<article>
			            <a href="#" target="_blank" >
			                <img alt="" src="http://manitou.cdn.prismic.io/manitou/a40600ba5191854e62f0c3281c3f8d8f6b1ba46a_bloc-web-reduce.jpg">
			                <p>We are committed to &amp; keep you informed about our products' fuel efficiency. Discover Reduce!</p>
			            </a>
			        </article>
			        <article>
			            <a href="#">
			                <img alt="" class="img-responsive" src="http://manitou.cdn.prismic.io/manitou/266f24190bdb43d20ed31f228942d630cafa6f9e_bloc-web-mi.jpg">
			                <p>Discover the MI industrial forklift range from 1.5 to 10&nbsp;t.!</p>
			            </a>
			        </article>
			        <article>
			            <a href="#" target="_blank">
			                <img alt="" src="http://manitou.cdn.prismic.io/manitou/88a2a4d8a3a92e618d0e9c9d73e7571f5a6daa23_bloc-web-you-tube.jpg">
			                <p>Subscribe to Manitou's YouTube channel and be notified of the latest videos.</p>
			            </a>
			        </article>
			        <article>
		                <a href="#">
		                    <img alt="" class="img-responsive" src="http://manitou.cdn.prismic.io/manitou/ea0012a6cb16e86c30c441b4dd517896ae647e81_8411618856_b47dfef2b8_z.jpg">
		                    <p>Discover our handling solutions for livestock farmers.</p>
		                </a>
			        </article>
		        </div>
		    </div>
		</section>

	</div>

{% highlight html %}
<section class="home-news">
    <div class="container">
        <div class="row">
        	<article>
	            <a href="#" target="_blank" >
	                <img alt="" src="http://manitou.cdn.prismic.io/manitou/a40600ba5191854e62f0c3281c3f8d8f6b1ba46a_bloc-web-reduce.jpg">
	                <p>We are committed to &amp; keep you informed about our products' fuel efficiency. Discover Reduce!</p>
	            </a>
	        </article>
	        <article>
	            <a href="#">
	                <img alt="" class="img-responsive" src="http://manitou.cdn.prismic.io/manitou/266f24190bdb43d20ed31f228942d630cafa6f9e_bloc-web-mi.jpg">
	                <p>Discover the MI industrial forklift range from 1.5 to 10&nbsp;t.!</p>
	            </a>
	        </article>
	        <article>
	            <a href="#" target="_blank">
	                <img alt="" src="http://manitou.cdn.prismic.io/manitou/88a2a4d8a3a92e618d0e9c9d73e7571f5a6daa23_bloc-web-you-tube.jpg">
	                <p>Subscribe to Manitou's YouTube channel and be notified of the latest videos.</p>
	            </a>
	        </article>
	        <article>
                <a href="#">
                    <img alt="" class="img-responsive" src="http://manitou.cdn.prismic.io/manitou/ea0012a6cb16e86c30c441b4dd517896ae647e81_8411618856_b47dfef2b8_z.jpg">
                    <p>Discover our handling solutions for livestock farmers.</p>
                </a>
	        </article>
        </div>
    </div>
</section>
{% endhighlight %}

</section>
