<section id="image-responsive">
	<h2>Image responsive</h2>
	<p>The <code>.img-responsive</code> class helps you to make your image responsive-friendly. This class applies <code>max-width: 100%;</code>, <code>height: auto;</code> and <code>display: block;</code> to the image so that it scales nicely to the parent element.</p>

	<div class="bs-example">
		<img src="http://manitou.cdn.prismic.io/manitou/dad13aefbd4469b52e63d107dff2ebb084fbebbf_12502910514_21763ad7af_k.jpg" alt="" class="img-responsive">
	</div>

{% highlight html %}
<img src="http://manitou.cdn.prismic.io/manitou/dad13aefbd4469b52e63d107dff2ebb084fbebbf_12502910514_21763ad7af_k.jpg" alt="" class="img-responsive">
{% endhighlight %}

</section>
