<section id="inline-elements">
	<h2>Inline elements</h2>
	<p>Inline elements are used to create hierarchy in the informations.</p>
	<p>These elements are visually different from each other, but are not to be used in an esthetic way for all that. They create a logical hierarchy that has to make sense : a <code>&lt;strong&gt;</code> element for instance is not a bold element, it is rather a more important element that is then visually distinguished.</p>

	<div class="bs-example">

		<h3>Default paragraph</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eum libero nihil atque praesentium, eius laudantium debitis quaerat dolor, labore sapiente, ad. Quis eum, hic doloribus debitis iste tempora praesentium!</p>

		<br>

		<h3>Lead text</h3>

		<p class="lead">Text width <code>.lead</code> class</p>

		<br>

		<h3>Large paragraph</h3>

		<p class="lg">Text width <code>.lg</code> class</p>

		<br>

		<h3>Inline link</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">En savoir plus</a></p>

		<br>

		<h3>Emphasize elements</h3>

		<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em>

		<br>
		<br>

		<p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing elit</strong>. Laboriosam nostrum nisi quam ipsa praesentium magnam culpa earum reiciendis consequatur, tempora ducimus reprehenderit! <strong>Similique iste fuga quaerat, architecto asperiores nam cumque</strong>.</p>

	</div>

{% highlight html %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eum libero nihil atque praesentium, eius laudantium debitis quaerat dolor, labore sapiente, ad. Quis eum, hic doloribus debitis iste tempora praesentium!</p>

<p class="lead">Text width <code>.lead</code> class</p>

<p class="lg">Text width <code>.lg</code> class</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">En savoir plus</a></p>

<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em>

<p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing elit</strong>. Laboriosam nostrum nisi quam ipsa praesentium magnam culpa earum reiciendis consequatur, tempora ducimus reprehenderit! <strong>Similique iste fuga quaerat, architecto asperiores nam cumque</strong>.</p>
{% endhighlight %}

</section>
