<section id="input-range">
	<h2>Input range</h2>
	<p></p>

	<div class="bs-example">

		<div class="form-group">
	        <label>Lifting height</label>

	        <div class="row">
	            <div class="col-xs-6">
	                <div class="input-group">
	                    <input id="" name="minliftingHeight" type="number" class="form-control" min="13" max="32">
	                    <span class="input-group-addon">m</span>
	                </div>
	                <p class="help-block ng-hide">Figure too small</p>
	            </div>
	            <div class="col-xs-6">
	                <div class="input-group">
	                    <input id="" name="maxliftingHeight" type="number" class="form-control" min="13" max="32">
	                    <span class="input-group-addon">m</span>
	                </div>
	            </div>
	            <p class="help-block ng-hide">Figure too large</p>
	        </div>
	        <slider floor="13" ceiling="32" step="1"></slider>
			<!-- <div class="handle low" style="left: 0px;"></div><div class="handle high" style="left: 248px;"></div>
			<div class="bubble limit low">13</div>
			<div class="bubble limit high" style="left: 265px;">32</div>
			<div class="bubble value low" style="left: 8.5px;">13</div>
			<div class="bubble value high" style="left: 256.5px;">32</div></div> -->
	    </div>

	</div>

{% highlight html %}


{% endhighlight %}

</section>
