<section id="large-buttons">
	<h2>Large buttons</h2>
	<p>Larger buttons can be used on the landing page to facilitate the comprehension of what the users can do on the website.</p>

	<div class="bs-example">

		<a href="#" target="_blank" title="" class="btn btn-primary btn-lg">
			<i class="fa fa-tag"></i>
			<span>Find Used Equipment</span>
		</a>
		<br>
		<a href="#" target="_blank" title="" class="btn btn-default btn-lg">
			<i class="fa fa-envelope"></i>
			<span>Subscribe to Newsletter</span>
		</a>

	</div>

{% highlight html %}
<a href="#" target="_blank" title="" class="btn btn-primary btn-lg">
	<i class="fa fa-tag"></i>
	<span>Find Used Equipment</span>
</a>

<a href="#" target="_blank" title="" class="btn btn-default btn-lg">
	<i class="fa fa-envelope"></i>
	<span>Subscribe to Newsletter</span>
</a>
{% endhighlight %}

</section>
