<section id="lists">
	<h2>Lists</h2>
	<p></p>

	<h3>Simple unordered list</h3>

	<p>A list of items in which the order does not explicitly matter.</p>

	<div class="bs-example">
		<ul>
			<li>Sweep and pickup in one operation</li>
			<li>Up to 2,500 m² (27,000 ft²) cleaned in 10 minutes</li>
			<li>High quality sweeping</li>
			<li>Polyester and steel side brush for perfect sweeping along wall or sidewalks </li>
			<li>Interchangeable side brush (left or right)</li>
			<li>Swivel wheels for easy driving mode</li>
		</ul>
	</div>

{% highlight html %}
<ul>
	<li>Sweep and pickup in one operation</li>
	<li>Up to 2,500 m² (27,000 ft²) cleaned in 10 minutes</li>
	<li>High quality sweeping</li>
	<li>Polyester and steel side brush for perfect sweeping along wall or sidewalks </li>
	<li>Interchangeable side brush (left or right)</li>
	<li>Swivel wheels for easy driving mode</li>
</ul>
{% endhighlight %}

	<br>

	<h3>Unordered list with links</h3>

	<div class="bs-example">

		<ul class="bullet">
		    <li>
		        <a href="#">Cereals</a>
		    </li>
		    <li>
		        <a href="#">Livestock</a>
		    </li>
		    <li>
		        <a href="#">Mixed Farming</a>
		    </li>
		    <li>
		        <a href="#">Market Gardening</a>
		    </li>
		    <li>
		        <a href="#">Plant Nurseries</a>
		    </li>
		    <li>
		        <a href="#">Poultry</a>
		    </li>
		    <li>
		        <a href="#">Equestrian Centres</a>
		    </li>
		    <li>
		        <a href="#">Wineries</a>
		    </li>
		</ul>

	</div>

{% highlight html %}
<ul class="bullet">
    <li>
        <a href="#">Cereals</a>
    </li>
    <li>
        <a href="#">Livestock</a>
    </li>
    <li>
        <a href="#">Mixed Farming</a>
    </li>
    <li>
        <a href="#">Market Gardening</a>
    </li>
    <li>
        <a href="#">Plant Nurseries</a>
    </li>
    <li>
        <a href="#">Poultry</a>
    </li>
    <li>
        <a href="#">Equestrian Centres</a>
    </li>
    <li>
        <a href="#">Wineries</a>
    </li>
</ul>
{% endhighlight %}

</section>
