<section id="nav-tabs">
	<h2>Nav tabs</h2>
	<p>Use tabs navigation to organize and facilitate the detailed presentation of a product for instance.</p>
	<p>The <code>.active</code> class put on a <code>.nav-link</code> allows you to open by default a tab.</p>
	<p>A <code>target="_blank"</code> attribute permits to bind an external page to the tabs navigation.</p>

	<div class="bs-example">

		<div class="bloc">

			<ul class="nav nav-tabs hidden-xs" role="tablist">
				<li class="nav-item">
					<a href="#" class="nav-link active" role="tab">Photos</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" role="tab">3D</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" role="tab">Technical data sheet</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" role="tab">Attachments</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" role="tab">Benefits</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" role="tab">Services</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" title="" role="tab" target="_blank">360</a>
				</li>
			</ul>

		</div>

	</div>

{% highlight html %}
<div class="bloc">
	<ul class="nav nav-tabs hidden-xs" role="tablist">
		<li class="nav-item">
			<a href="#" class="nav-link active" role="tab">Photos</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="tab">3D</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="tab">Technical data sheet</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="tab">Attachments</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="tab">Benefits</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="tab">Services</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" title="" role="tab" target="_blank">360</a>
		</li>
	</ul>
</div>
{% endhighlight %}

</section>
