<section id="grid-navigation">
	<h2>Navigation grid</h2>
	<p></p>

	<div class="bs-example">

    <div class="navigation-grid">

      <aside>
        <div class="block-demo" style="width: 100%;height:290px;"></div>
      </aside>

      <section>
        <div class="block-demo" style="width:100%;height:290px;"></div>
      </section>

    </div>

    <br>

    <div class="navigation-grid">

      <aside>
        <div class="block-demo" style="width: 100%;height:300px;"></div>
      </aside>

      <section>
        <div class="block-demo" style="width:100%;height:150px;"></div>
        <br>
        <div class="row">
          <div class="col">
            <div class="block-demo" style="width:100%;height:130px;"></div>
          </div>
          <div class="col">
            <div class="block-demo" style="width:100%;height:130px;"></div>
          </div>
        </div>
      </section>

    </div>

    <br>

    <div class="navigation-grid">

      <section>
        <div class="block-demo" style="width:100%;height:290px;"></div>
      </section>

      <aside>
        <div class="block-demo" style="width: 100%;height:290px;"></div>
      </aside>

    </div>

	</div>

{% highlight html %}
<div class="navigation-grid">
  <aside>
      ...
  </aside>
  <section>
      ...
  </section>
</div>

<div class="navigation-grid">
  <aside>
      ...
  </aside>
  <section>
      <div class="bloc">
        ...
      </div>
      <div class="row">
        <div class="col">
          ...
        </div>
        <div class="col">
          ...
        </div>
      </div>
  </section>
</div>
{% endhighlight %}

</section>
