<section id="pagination">
	<h2>Pagination</h2>
	<p>A simple pagination component that provides links to navigate through results views or parts.</p>

	<div class="bs-example">

        <ul class="pull-right pagination">
            <li class="disabled">
                <a href="#">‹</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">›</a>
            </li>
        </ul>

        <div class="clearfix"></div>

	</div>

{% highlight html %}
<ul class="pull-right pagination">
    <li class="disabled">
        <a href="#">‹</a>
    </li>
    <li class="active">
        <a href="#">1</a>
    </li>
    <li>
        <a href="#">2</a>
    </li>
    ...
    <li>
        <a href="#">›</a>
    </li>
</ul>
{% endhighlight %}

<br>

<p>An infinite scroll could also be implemented, based on a basic "display more" link.</p>

    <div class="bs-example">

        <p class="text-center">
            <a href="" title="View 20 previous articles">View 20 previous articles</a>
        </p>

    </div>

{% highlight html %}
<p class="text-center">
    <a href="" title="View 20 previous articles">View 20 previous articles</a>
</p>
{% endhighlight %}

</section>
