<section id="product-teaser">
	<h2>Product teaser</h2>
	<p>These blocks are used to display products in a short way, for views such as results views.</p>
	<p>They can display, fo each product, the following informations : picture overview, name, data description and a text description. For concision reason, it is recommended to not display data description and text description together.</p>
	<p>The product teaser block is wrapped in an <code>a</code> tag to bind it to its proper view.</p>

	<div class="bs-example">

        {% include demo/equipment-product-teaser-demo.html %}

        <br>

        <a href="#" title="Side Shift Carriage">
            <article class="product-teaser">
                <div class="row">
                    <div class="col-picture">
                        <img src="http://farm9.staticflickr.com/8640/16731715015_5b9b521732_z.jpg" alt="TODO">
                    </div>
                    <div class="col-description">
                        <h2>Side Shift Carriage</h2>
                        <div class="row">
                            <div class="col-description-1">
                            </div>
                            <div class="col-description-2">
                            </div>
                            <div class="col-xs-12">
                                <div>More ﬂexibility thanks to a 100 mm sideshift (both sides) - Maximum usability and increased productivity - This solution can be ﬁtted with PFB carriage or included in TFF carriage</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-arrow">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </article>
        </a>

	</div>

{% highlight html %}
<a href="#">
	<article class="product-teaser">
	    <div class="row">
	        <div class="col-picture">
	            <img src="http://farm9.staticflickr.com/8494/8265694339_342e6106fe_z.jpg" alt="TODO">
	        </div>
	        <div class="col-description">
	            <h2>MLT 625 75 H</h2>
	            <div class="row">
	                <div class="col-description-1">
                        <strong>Length</strong><strong> : </strong>3.9 m<br>
                        <strong>Width</strong><strong> : </strong>1.82 m<br>
                        <strong>Height</strong><strong> : </strong>2.17 m<br>
                        <strong>Weight</strong><strong> : </strong>4932 kg<br>
	                </div>
	                <div class="col-description-2">
                        <strong>Engine</strong><strong> : </strong>Kubota<br>
                        <strong>Power</strong><strong> : </strong>75 cv<br>
                        <strong>Lifting capacity</strong><strong> : </strong>2500 kg<br>
                        <strong>Lifting height</strong><strong> : </strong>5.9 m<br>
	                </div>
	                <div class="col-xs-12">
                    </div>
	            </div>
	        </div>
	        <div class="col-arrow">
	            <i class="fa fa-angle-right"></i>
	        </div>
	    </div>
	</article>
</a>

<a href="#" title="Side Shift Carriage">
    <article class="product-teaser">
        <div class="row">
            <div class="col-picture">
                <img src="http://farm9.staticflickr.com/8640/16731715015_5b9b521732_z.jpg" alt="TODO">
            </div>
            <div class="col-description">
                <h2>Side Shift Carriage</h2>
                <div class="row">
                    <div class="col-description-1">
                    </div>
                    <div class="col-description-2">
                    </div>
                    <div class="col-xs-12">
                        <div>More ﬂexibility thanks to a 100 mm sideshift (both sides) - Maximum usability and increased productivity - This solution can be ﬁtted with PFB carriage or included in TFF carriage</div>
                    </div>
                </div>

            </div>
            <div class="col-arrow">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </article>
</a>
{% endhighlight %}

	</section>
