<section id="select">
		<h2>Select</h2>
		<p>The select offers the users to choose between different possibilities. The input here remains in a simple yet effective form, so it triggers the native behavior of the device in mobile contexts.</p>

		<div class="bs-example">

			<div class="form-group">
			    <label for=""></label>
			    <select class="form-control">
			    	<option value="0" label="Telehandlers">Telehandlers</option>
			    	<option value="1" selected="selected" label="Rotating Telehandlers">Rotating Telehandlers</option>
			    	<option value="2" label="Masted Forklift Trucks">Masted Forklift Trucks</option>
			    	<option value="3" label="Truck Mounted Forklifts">Truck Mounted Forklifts</option>
			    	<option value="4" label="Warehousing Equipment">Warehousing Equipment</option>
			    	<option value="5" label="Aerial Work Platforms">Aerial Work Platforms</option>
			    </select>
			</div>

		</div>

{% highlight html %}
<div class="form-group">
    <label for=""></label>
    <select class="form-control">
    	<option value="0" label="Telehandlers">Telehandlers</option>
    	<option value="1" selected="selected" label="Rotating Telehandlers">Rotating Telehandlers</option>
    	<option value="2" label="Masted Forklift Trucks">Masted Forklift Trucks</option>
    	<option value="3" label="Truck Mounted Forklifts">Truck Mounted Forklifts</option>
    	<option value="4" label="Warehousing Equipment">Warehousing Equipment</option>
    	<option value="5" label="Aerial Work Platforms">Aerial Work Platforms</option>
    </select>
</div>
{% endhighlight %}

	</section>
