<section id="spinner">
	<h2>Spinner</h2>
	<p>Visibility of system status is an important key to User Experience since it shows the users you are listening and aware of their expectations. Thus, a progress indicator makes waiting time more acceptable.</p>

	<div class="bs-example">

  <button type="button" class="btn btn-primary toggle-spinner">
    <i class="fa fa-check"></i>
    <span>Show spinner</span>
  </button>

	</div>

{% highlight html %}
<div class="spinner-backdrop">
  <img class="spinner" src="/assets/im/spinner.gif" alt="loading">
</div>
{% endhighlight %}

</section>
