<section id="grid-split">
	<h2>Split grid</h2>
	<p></p>

	<div class="bs-example">

    <div class="split-grid">

      <section>
        <div class="block-demo" style="width: 100%;height:290px;"></div>
      </section>

      <section>
        <div class="block-demo" style="width:100%;height:290px;"></div>
      </section>

    </div>

	</div>

{% highlight html %}
<div class="split-grid">
  <section>
      ...
  </section>
  <section>
      ...
  </section>
</div>
{% endhighlight %}

</section>
