<section id="switch">
	<h2>Switch</h2>
	<p>A switch is an input offering two possibilities. It can also be used as a small navigation system between 2 alternatives.</p>

	<div class="bs-example">

		<div class="form-group">
		    <div class="btn-group btn-group-justified">
		        <label class="btn btn-switch active" name="Machines">Equipment</label>
		        <label class="btn btn-switch" name="Attachments">Attachments</label>
		    </div>
		</div>

	</div>

{% highlight html %}
<div class="form-group">
    <div class="btn-group btn-group-justified">
        <label class="btn btn-switch active" name="Machines">Equipment</label>
        <label class="btn btn-switch" name="Attachments">Attachments</label>
    </div>
</div>
{% endhighlight %}

	</section>
