<section id="table">
	<h2>Table</h2>
	<p></p>

	<div class="bs-example">

		<table class="table table-striped">
			<tbody>
				<tr>
					<td><span>Lifting height</span></td>
					<td class="text-right">13.8 m</td>
					<td class="text-right">45'3" </td>
				</tr>
				<tr>
					<td><span>Lifting capacity</span></td>
					<td class="text-right">4000 kg</td>
					<td class="text-right">8800 lb</td>
				</tr>
				<tr>
					<td><span>Drawbar pull</span></td>
					<td class="text-right">8600 dan</td>
					<td class="text-right">19333 lbf</td>
				</tr>
				<tr>
					<td><span>Moving speed</span></td>
					<td class="text-right">32 kmh</td>
					<td class="text-right">19.8 mph</td>
				</tr>
			</tbody>
		</table>

		<br>

		<table class="table table-striped">
              <tbody>
              <tr>
                <td>Driving type</td>
                <td class="text-right" colspan="2">Seated</td>
              </tr>
              <tr>
                <td>Standard tyres</td>
                <td class="text-right" colspan="2">Pneumatic</td>
              </tr>
              <tr>
                <td>Number of wheels</td>
                <td class="text-right" colspan="2">4</td>
              </tr>
              <tr>
                <td>Number of wheels (front)</td>
                <td class="text-right" colspan="2">2</td>
              </tr>
              <tr>
                <td>Number of wheels (rear)</td>
                <td class="text-right" colspan="2">2</td>
              </tr>
              <tr>
                <td>Tyre dimensions (front)</td>
                <td class="text-right" colspan="2">400/70-20 14 PR</td>
              </tr>
              <tr>
                <td>Tyre dimensions (rear)</td>
                <td class="text-right" colspan="2">400/70-20 14 PR</td>
              </tr>
              <tr>
                <td>Driving position noise levels</td>
                <td class="text-right" colspan="2">79.7&nbsp;dB</td>
              </tr>
            </tbody>
        </table>

	</div>

{% highlight html %}
<table class="table table-striped">
	<tbody>
		<tr>
			<td><span>Lifting height</span></td>
			<td class="text-right">13.8 m</td>
			<td class="text-right">45'3" </td>
		</tr>
		<tr>
			<td><span>Lifting capacity</span></td>
			<td class="text-right">4000 kg</td>
			<td class="text-right">8800 lb</td>
		</tr>
		<tr>
			<td><span>Drawbar pull</span></td>
			<td class="text-right">8600 dan</td>
			<td class="text-right">19333 lbf</td>
		</tr>
		<tr>
			<td><span>Moving speed</span></td>
			<td class="text-right">32 kmh</td>
			<td class="text-right">19.8 mph</td>
		</tr>
	</tbody>
</table>

<table class="table table-striped">
      <tbody>
      <tr>
        <td>Driving type</td>
        <td class="text-right" colspan="2">Seated</td>
      </tr>
      <tr>
        <td>Standard tyres</td>
        <td class="text-right" colspan="2">Pneumatic</td>
      </tr>
      <tr>
        <td>Number of wheels</td>
        <td class="text-right" colspan="2">4</td>
      </tr>
      <tr>
        <td>Number of wheels (front)</td>
        <td class="text-right" colspan="2">2</td>
      </tr>
      <tr>
        <td>Number of wheels (rear)</td>
        <td class="text-right" colspan="2">2</td>
      </tr>
      <tr>
        <td>Tyre dimensions (front)</td>
        <td class="text-right" colspan="2">400/70-20 14 PR</td>
      </tr>
      <tr>
        <td>Tyre dimensions (rear)</td>
        <td class="text-right" colspan="2">400/70-20 14 PR</td>
      </tr>
      <tr>
        <td>Driving position noise levels</td>
        <td class="text-right" colspan="2">79.7&nbsp;dB</td>
      </tr>
    </tbody>
</table>
{% endhighlight %}

</section>
