<section id="textarea">
		<h2>Textarea</h2>
		<p></p>

		<div class="bs-example">

			<div class="form-group">
			    <label for="" class="required">Message</label>
			    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Your message, in full. Please be as detailed as possible so we can best answer your query."></textarea>
			</div>

		</div>

{% highlight html %}
<div class="form-group">
    <label for="" class="required">Message</label>
    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Your message, in full. Please be as detailed as possible so we can best answer your query."></textarea>
</div>
{% endhighlight %}

	</section>
