<section id="timeline">
	<h2>Timeline (history)</h2>
	<p></p>

	<div class="bs-example" style="z-index: -2;">

    <div class="timeline">
      <section>
        <div class="timeline-line"></div>
        <div class="timeline-year">
          <span>2013</span>
        </div>
        <article class="bloc">
          <div class="row">
            <div class="timeline-picture">
              <img alt="" src="http://manitou.cdn.prismic.io/manitou/910b0dc4b89561fd3f0b2c2cad4b60eaaf0c4fea_2013_yanmar.jpg">
            </div>
            <div class="timeline-content">
              <h2 class="border">Yanmar becomes a shareholder</h2>
              <p>Strengthening of the Yanmar partnerships sealed by Yanmar becoming a shareholder, with a shareholding of 6.26%.</p>
            </div>
          </div>
        </article>
        <div class="timeline-year">
          <span>1996</span>
        </div>
        <article class="bloc">
          <div class="row">
            <div class="timeline-content">
              <h2 class="border">Manitou Germany</h2>
              <p>Opening of the Manitou Germany subsidiary.</p>
            </div>
          </div>
        </article>
        <article class="bloc">
          <div class="row">
            <div class="timeline-picture">
              <img alt="" src="http://manitou.cdn.prismic.io/manitou/bb3376acc58ca6467c4c2fe694f1d21240182fd7_capture-decran-2015-02-04-a-10.59.54.png">
            </div>
            <div class="timeline-content">
              <h2 class="border">ISO 9001</h2>
              <p>ISO 9001 certification obtained.</p>
            </div>
          </div>
        </article>
      </section>
    </div>

	</div>

{% highlight html %}
<div class="timeline">
  <section>
    <div class="timeline-line"></div>

    <div class="timeline-year">
      <span>2013</span>
    </div>

    <article class="bloc">
      <div class="row">
        <div class="timeline-picture">
          <img alt="" src="http://manitou.cdn.prismic.io/manitou/910b0dc4b89561fd3f0b2c2cad4b60eaaf0c4fea_2013_yanmar.jpg">
        </div>
        <div class="timeline-content">
          <h2 class="border">Yanmar becomes a shareholder</h2>
          <p>Strengthening of the Yanmar partnerships sealed by Yanmar becoming a shareholder, with a shareholding of 6.26%.</p>
        </div>
      </div>
    </article>

    <div class="timeline-year">
        <span>1996</span>
    </div>

    <article class="bloc">
      <div class="row">
        <div class="timeline-content">
          <h2 class="border">Manitou Germany</h2>
          <p>Opening of the Manitou Germany subsidiary.</p>
        </div>
      </div>
    </article>

    <article class="bloc">
      <div class="row">
      <div class="timeline-picture">
          <img alt="" src="http://manitou.cdn.prismic.io/manitou/bb3376acc58ca6467c4c2fe694f1d21240182fd7_capture-decran-2015-02-04-a-10.59.54.png">
        </div>
        <div class="timeline-content">
          <h2 class="border">ISO 9001</h2>
          <p>ISO 9001 certification obtained.</p>
        </div>
      </div>
    </article>

  </section>
</div>
{% endhighlight %}

</section>
