<section id="video">
	<h2>Video</h2>
	<p></p>

	<div class="bs-example">
		<div class="bloc">
			<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" allowfullscreen="" src="http://www.youtube.com/embed/34jqNMoFZzA?rel=0&amp;amp;showinfo=0"></iframe>
            </div>
		</div>
	</div>

{% highlight html %}
<div class="bloc">
	<div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" allowfullscreen="" src="http://www.youtube.com/embed/34jqNMoFZzA?rel=0&amp;amp;showinfo=0"></iframe>
    </div>
</div>

{% endhighlight %}

</section>
