<section id="video">
	<h2>Video</h2>
	<p>The <code>.embed-responsive</code> class helps you to make your video (<code>&lt;iframe&gt;</code>, <code>&lt;embed&gt;</code>, <code>&lt;video&gt;</code> or <code>&lt;object&gt;</code>) responsive-friendly. You can also help browsers to determine the video dimensions and ratio by adding a <code>.embed-responsive-16by9</code> or <code>.embed-responsive-4by3</code> class.</p>

	<div class="bs-example">
		<div class="bloc">
			<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" allowfullscreen="" src="http://www.youtube.com/embed/34jqNMoFZzA?rel=0&amp;amp;showinfo=0"></iframe>
            </div>
		</div>
	</div>

{% highlight html %}
<div class="bloc">
	<div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" allowfullscreen="" src="http://www.youtube.com/embed/34jqNMoFZzA?rel=0&amp;amp;showinfo=0"></iframe>
    </div>
</div>

{% endhighlight %}

</section>
