---
layout: default
title : Manitou framework blocks
critical_file: critical/critical-blocks.css
---

	{% include web-aside.html view="blocks" %}

	<main class="docs-main">
		
		<h1>Cards & blocks</h1>
		<p class="lg">Cards and blocks are the core components of the Manitou web framework, allowing to build different views for different purposes and meanings. Each type of information, product or content could fit in its proper, resusable and flexible card or block component.</p>
		<p>You can find the below components in <a target="_blank" href="https://github.com/manitou-group/manitou/blob/master/assets/scss/_card.scss"><code>_card.scss</code></a>.</p>

		<hr>

		{% include components/horizontal-rule.html %}

		<hr>

		{% include components/table.html %}

		<hr>

		{% include components/product-teaser.html %}

		<hr>

		{% include components/block-filter.html %}

		<hr>

		{% include components/home-news.html %}

		<hr>

		{% include components/feature-card.html %}

		<hr>

		{% include components/block-basic.html %}

		<hr>

		{% include components/block-service.html %}

		<hr>

		{% include components/block-category.html %}

		<hr>

		{% include components/block-application.html %}

		<hr>

		{% include components/block-blog.html %}

		<hr>

		{% include components/block-event.html %}

		<hr>

		{% include components/event-aside.html %}

		<hr>

		{% include components/twitter-flux.html %}

	</main>

