---
layout: default
---

	{% include web-aside.html view="blocks" %}

	<main>
		<h1>Cards & blocks</h1>
		<p></p>

		{% include components/horizontal-rule.html %}

		{% include components/table.html %}

		{% include components/product-teaser.html %}

		{% include components/block-filter.html %}

		{% include components/home-news.html %}

		{% include components/feature-card.html %}

		{% include components/block-basic.html %}

		{% include components/block-service.html %}

		{% include components/block-category.html %}

		{% include components/block-application.html %}

		{% include components/block-blog.html %}

		{% include components/block-event.html %}

		{% include components/event-aside.html %}

		{% include components/twitter-flux.html %}

	</main>

