---
layout: default
title: Manitou framework buttons
critical_file: critical/critical-buttons.css
---

{% include web-aside.html view="buttons" %}

<main class="docs-main">
	<h1>Buttons</h1>
	<p class="lg">Buttons are used to navigate through the website and for actions, like triggering a modal or validating a form. They should be (and are) easily distinguishable from another components.</p>
	<p>You can find the below components in <a target="_blank" href="https://github.com/manitou-group/manitou/blob/master/assets/scss/_button.scss"><code>_button.scss</code></a>.</p>

	{% include components/basic-buttons.html %}

	{% include components/large-buttons.html %}

	{% include components/dropdown-button.html %}

</main>

