---
layout: default
title : Forms - Manitou HTML / CSS Framework
critical_file: critical/critical-forms.css
---

{% include web-aside.html view="forms" %}

<main class="docs-main">
	
	<h1>Forms</h1>
	<p class="lg">Forms are useful to interact with the users and to provide them the information they are looking for, such as in context of search for product or for direct contact. Thus, forms must remain easily understandable and usable, regardless of the device or context of use.</p>
	<p>You can find the below components in <a target="_blank" href="https://github.com/manitou-group/manitou/blob/master/assets/scss/_input.scss"><code>_input.scss</code></a>.</p>

	<br>
	<hr>
	<br>

	{% include components/basic-input.html %}

	<br>
	<hr>
	<br>

	{% include components/textarea.html %}

	<br>
	<hr>
	<br>

	{% include components/checkbox-radio.html %}

	<br>
	<hr>
	<br>

	{% include components/switch.html %}

	<br>
	<hr>
	<br>

	{% include components/select.html %}

	<br>
	<hr>
	<br>

	{% include components/input-range.html %}

</main>

