---
layout: default
title : Manitou framework messaging
critical_file: critical/critical-messaging.css
---

{% include web-aside.html view="messaging" %}

<main class="docs-main">
	
	<h1>Messaging</h1>
	<p class="lg">Messaging components are essential in user - interface interactions since they are the answer of the interface to the user. They thus guarantee that there is an actual interaction by informing users of successful or pending actions, or of specific contexts so they are not frustrated to ignore what is wrong.</p>
	<p>You can find the below components in <a target="_blank" href="https://github.com/manitou-group/manitou/blob/master/assets/scss/_alert.scss"><code>_alert.scss</code></a>.</p>

	<hr>

	{% include components/alert.html %}

	<hr>

	{% include components/availability-message.html %}

	<hr>

	{% include components/footer-cookie.html %}

</main>

