---
layout: default
title : Manitou framework navigations
critical_file: critical/critical-navigations.css
---

{% include web-aside.html view="navigations" %}

<main class="docs-main">
	
	<h1>Navigations</h1>
	<p class="lg">There is only few different navigation systems for Manitou websites, so they are easily recognizable by the users and offer them a consistent experience.</p>
	<p class="lg">Aside from the header, there is 2 basic navigation components: a vertical one to navigate between different views and a horizontal one to navigate within a view. A third one can be placed specifically in the footer.</p>
	<p>Since they are essentially made of or depending of other components, you can find the below components in <a target="_blank" href="https://github.com/manitou-group/manitou/blob/master/assets/scss/_card.scss"><code>_card.scss</code></a> and <a target="_blank" href="https://github.com/manitou-group/manitou/blob/master/assets/scss/_footer.scss"><code>_footer.scss</code></a>. The <code>nav-tabs</code> is a Bootstrap 4 native component. The header navigation can be found in <a target="_blank" href="https://github.com/manitou-group/manitou/blob/master/assets/scss/_navbar.scss"><code>_navbar.scss</code></a>.</p>

	<br>
	<hr>
	<br>

	{% include components/nav-dropdown.html %}

	<br>
	<hr>
	<br>

	{% include components/nav-tabs.html %}

	<br>
	<hr>
	<br>

	{% include components/footer-menu.html %}

</main>

