---
layout: default
title : Typography - Manitou HTML / CSS Framework
critical_file: critical/critical-typography.css
---

{% include web-aside.html view="typography" %}

<main class="docs-main">

	<h1>Typography</h1>
	<p class="lg">Since text is the primary and most essential way to convey informations and values to the users, it's important to grant typography a primordial attention. This section stresses the typographic guidelines that should be used on all manitou websites.</p>
	<p>You can find the below components in <a target="_blank" href="https://github.com/manitou-group/manitou/blob/master/assets/scss/_typography.scss"><code>_typography.scss</code></a>.</p>

	<br>
	<hr>
	<br>

	{% include components/headings.html %}

	<br>
	<hr>
	<br>

	{% include components/inline-elements.html %}

	<br>
	<hr>
	<br>

	{% include components/lists.html %}

</main>